<section id="header">
    <section class="container">
        <div class="one-eighth"><a class="logo" href="{{ root }}styleguide">Home</a></div>
        <div class="grid one-third pageTitle">
            <h1>{{ pageTitle }}
                {% if create == 1 %}
                    <a href="#">Create</a>
                {% endif %}
            </h1>
        </div>
        <div class="contentMenu">
            <a href="#" class="avatar">
                <img src="http://extremelifechanger.com/web_images/avatar-sam09-8-251.jpg" alt="avatar"/>
            </a>
            <a href="#" class="welcomeMsg"><span>Hi, Moin!</span> <i></i>
            </a>
            <a href="#" class="bellItem"><span>&nbsp;</span> <i></i>
            </a>
            <a href="#" class="menuItem"><span>&nbsp;</span> <i></i>
            </a>
            <a href="#" class="starItem"><span>&nbsp;</span> <i></i>
            </a>
            {% if pageTitle == 'User Profile' %}
                <div class="userProfile">
                    <a href="#"><i></i> User Profile</a>
                    <a href="#"><i></i> Administration</a>
                    <a href="#"><i></i> Logout</a>
                </div>
            {% endif %}
            {% if pageTitle == 'Campaigns Drop Down' %}
                <div class="campaignsDropDown">
                    <a href="#">Turkis Airlines</a>
                    <a href="#">Replay HyperFlex</a>
                    <a href="#">Quatar Airways</a>
                    <a href="#">See All Campaigns</a>
                </div>
            {% endif %}
            {% if pageTitle == 'Messages Drop Down' %}
                <div class="messagesDropDown">
                    <a href="#"><i></i>New Message <span>4 minutes ago</span></a>
                    <a href="#"><i></i>Booking Rejected <span>15 minutes ago</span></a>
                    <a href="#">See All Messages</a>
                </div>
            {% endif %}
            {% if pageTitle == 'Favourites Drop Down' %}
                <div class="favouritesDropDown">
                    <h3>Favourites</h3>
                    <table>
                        <thead>
                        <tr>
                            <th>Site</th>
                            <th>Placement</th>
                            <th>CPM</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>www.test.com</td>
                            <td>Homepage - 300x200 Upper</td>
                            <td>$20 cpm</td>
                            <td><a href="#">view</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="#" class="viewAll">View All Favourites</a>
                </div>
            {% endif %}
        </div>
    </section>
</section>