<!DOCTYPE html>
<!--[if (lt IE 7) & (!IEMobile)]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7) & (!IEMobile)]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if (IE 8) & (!IEMobile)]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if (IE 9) & (!IEMobile)]>
<html class="no-js lt-ie10"> <![endif]-->
<!--[if (gt IE 9) | (IEMobile) | !(IE)]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StraightLine</title>

    <link href="{{ public }}css/application.css" media="screen, projection" rel="stylesheet" type="text/css"/>
    <!--[if IE]>
    <link href="/css/application-ie.css" media="print" rel="stylesheet" type="text/css"/>
    <![endif]-->
</head>
<body>
{% if page !='login' %}
    {% set vars = {'root':root } %}
    {% include "components/header.twig" with vars %}
{% endif %}
<div class="site-wrapper {{ pageTitle|replace(' ', '-') }}">
    {% block content %}
        {# here it is goes content of the pages #}
    {% endblock %}
</div>
</body>
</html>
