@font-face {
  font-family: 'Helvetica 65 Medium';
  src: url('HelveticaNeue-Medium.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('HelveticaNeue-Medium.woff') format('woff'), /* Modern Browsers */
       url('HelveticaNeue-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('HelveticaNeue-Medium.svg#d7af0fd9278f330eed98b60dddea7bd6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

