@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@font-face {
  font-family: 'Bariol R';
  src: url("../fonts/bariol/Bariol_Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bariol/Bariol_.eot?#iefix") format("embedded-opentype"), url("../fonts/Bariol/bariol_Regular.woff") format("woff"), url("../fonts/Bariol/bariol_Regular.ttf") format("truetype"), url("../fonts/Bariol/bariol_Regular.svg#4aeabe0f77e25172918f03c0cd8383cd") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/roboto/Roboto-Regular-webfont.eot");
  src: url("../fonts/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMedium';
  src: url("../fonts/roboto/Roboto-Medium-webfont.eot");
  src: url("../fonts/roboto/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Medium-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Medium-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Medium-webfont.svg#RobotoMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLT Std Lt';
  src: url("../fonts/helvetica/HelveticaNeueLTStd-Lt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helvetica/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../fonts/helvetica/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../fonts/helvetica/HelveticaNeueLTStd-Lt.svg#ab53f55f9c010d958855493bf21fef17") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Helvetica 65 Medium';
  src: url("../fonts/helvetica/HelveticaNeue-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helvetica/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaNeue-Medium.woff") format("woff"), url("../fonts/helvetica/HelveticaNeue-Medium.ttf") format("truetype"), url("../fonts/helvetica/HelveticaNeue-Medium.svg#d7af0fd9278f330eed98b60dddea7bd6") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
/* $rembase = 10px */
/* line 2, ../sass/baseFiles/_styleguide.scss */
html {
  font-size: 62.5%;
  background: #ecf0f1;
  padding: 0;
  margin: 0;
}
/* line 7, ../sass/baseFiles/_styleguide.scss */
html body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.625;
  padding: 0;
  margin: 0;
}

/* line 18, ../sass/baseFiles/_styleguide.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 23, ../sass/baseFiles/_styleguide.scss */
input[type="text"], input[type="password"] {
  outline: none;
}

/**
* Global elements
*/
/* line 4, ../sass/ui/_header.scss */
#header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #fff;
  border-bottom: solid 1px #d4d8d8;
  float: left;
  margin: 0 0 1rem 0;
  padding: 0;
}
/* line 13, ../sass/ui/_header.scss */
#header a.logo {
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
  background: url("../images/logo-icon.png") no-repeat center center;
  background-size: auto 80%;
  text-indent: -100rem;
  float: left;
  overflow: hidden;
  height: 5rem;
  border-right: solid 1px #d4d8d8;
  padding: 1.5rem 1.5rem 1.5rem 1rem;
}
/* line 24, ../sass/ui/_header.scss */
#header .pageTitle {
  height: 5rem;
  width: 38.77551%;
  float: left;
  margin-right: 2.04082%;
  margin: 0;
}
/* line 28, ../sass/ui/_header.scss */
#header .pageTitle h1 {
  font-family: "RobotoRegular", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 3rem 0 0 0;
}
/* line 33, ../sass/ui/_header.scss */
#header .pageTitle h1 a {
  color: #95a5a6;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "RobotoRegular", sans-serif;
}
/* line 40, ../sass/ui/_header.scss */
#header .contentMenu {
  width: 28.57143%;
  float: left;
  margin-right: 2.04082%;
  float: right;
  height: 5rem;
  padding-top: 3.33333rem;
  text-align: right;
  font-family: "Bariol R", "Helvetica", sans-serif;
}
/* line 47, ../sass/ui/_header.scss */
#header .contentMenu a {
  color: #95a5a6;
  float: right;
  min-width: 3rem;
  margin-left: .5rem;
  overflow: hidden;
}
/* line 53, ../sass/ui/_header.scss */
#header .contentMenu a.menuItem, #header .contentMenu a .bellItem, #header .contentMenu a .starItem {
  background: url("../images/menu-icon.png") no-repeat center center;
  text-indent: -100em !important;
  background-position: 1.5rem center;
}
/* line 58, ../sass/ui/_header.scss */
#header .contentMenu a.starItem {
  background: url("../images/star-icon.png") no-repeat center center;
  background-position: 1.5rem center;
}
/* line 62, ../sass/ui/_header.scss */
#header .contentMenu a.bellItem {
  background: url("../images/bell-icon.png") no-repeat center center;
  background-position: 1.5rem center;
}
/* line 66, ../sass/ui/_header.scss */
#header .contentMenu a.avatar {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  /* future proofing */
  -khtml-border-radius: 50%;
  /* for old Konqueror browsers */
  height: 4rem;
  width: 4rem;
  float: right;
  position: relative;
  top: -1rem;
  margin-left: .8rem;
  border: solid 2px #d8dde3;
  background-position: center center;
}
/* line 76, ../sass/ui/_header.scss */
#header .contentMenu a.avatar img {
  height: 100%;
}
/* line 80, ../sass/ui/_header.scss */
#header .contentMenu a.welcomeMsg, #header .contentMenu a.menuItem, #header .contentMenu a.starItem, #header .contentMenu a.bellItem {
  padding: .5rem .4rem .5rem 1.2rem;
  margin-top: -.5rem;
}
/* line 83, ../sass/ui/_header.scss */
#header .contentMenu a.welcomeMsg:hover, #header .contentMenu a.menuItem:hover, #header .contentMenu a.starItem:hover, #header .contentMenu a.bellItem:hover {
  background-color: #ecf0f1;
  -moz-border-radius: 5rem;
  -webkit-border-radius: 5rem;
  border-radius: 5rem;
  /* future proofing */
  -khtml-border-radius: 5rem;
  /* for old Konqueror browsers */
}
/* line 88, ../sass/ui/_header.scss */
#header .contentMenu a.welcomeMsg span, #header .contentMenu a.menuItem span, #header .contentMenu a.starItem span, #header .contentMenu a.bellItem span {
  float: left;
  min-width: 2rem;
  position: relative;
  left: -.5rem;
}
/* line 94, ../sass/ui/_header.scss */
#header .contentMenu a.welcomeMsg i, #header .contentMenu a.menuItem i, #header .contentMenu a.starItem i, #header .contentMenu a.bellItem i {
  float: left;
  background: url(../images/grayArrow@2x.png) no-repeat center center;
  background-size: auto 100%;
  float: left;
  width: 1rem;
  height: 1rem;
  margin-top: 1rem;
  height: .8rem;
  margin-right: .5rem;
}
/* line 106, ../sass/ui/_header.scss */
#header .contentMenu a.menuItem, #header .contentMenu a.starItem, #header .contentMenu a.bellItem {
  padding-left: 0 !important;
}
/* line 108, ../sass/ui/_header.scss */
#header .contentMenu a.menuItem i, #header .contentMenu a.starItem i, #header .contentMenu a.bellItem i {
  margin-left: 2rem;
}
/* line 113, ../sass/ui/_header.scss */
#header .contentMenu .userProfile, #header .contentMenu .campaignsDropDown, #header .contentMenu .messagesDropDown {
  position: absolute;
  top: 8rem;
  right: 8rem;
  width: 14rem;
  background: white;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
  -webkit-box-shadow: 0rem 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0rem 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
  box-shadow: 0rem 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
}
/* line 122, ../sass/ui/_header.scss */
#header .contentMenu .userProfile a, #header .contentMenu .campaignsDropDown a, #header .contentMenu .messagesDropDown a {
  padding: .8rem .8rem .8rem 1rem;
  font-size: 14px;
  font-size: 1.4rem;
  text-align: left;
  float: left;
  width: 100%;
  margin: 0;
  color: #000000;
}
/* line 130, ../sass/ui/_header.scss */
#header .contentMenu .userProfile a i, #header .contentMenu .campaignsDropDown a i, #header .contentMenu .messagesDropDown a i {
  background-image: url(../images/menuIcons.png);
  background-repeat: no-repeat;
  background-position: .1rem -2.6rem;
  background-size: 1.5rem auto;
  width: 2rem;
  height: 2rem;
  float: left;
  margin-right: .5rem;
  margin-top: .2rem;
}
/* line 143, ../sass/ui/_header.scss */
#header .contentMenu .userProfile a:first-child i, #header .contentMenu .campaignsDropDown a:first-child i, #header .contentMenu .messagesDropDown a:first-child i {
  background-position: left top;
}
/* line 147, ../sass/ui/_header.scss */
#header .contentMenu .userProfile a:last-child, #header .contentMenu .campaignsDropDown a:last-child, #header .contentMenu .messagesDropDown a:last-child {
  border-top: solid 1px #dce0e2;
}
/* line 149, ../sass/ui/_header.scss */
#header .contentMenu .userProfile a:last-child i, #header .contentMenu .campaignsDropDown a:last-child i, #header .contentMenu .messagesDropDown a:last-child i {
  background-position: .4rem -4.9rem;
}
/* line 153, ../sass/ui/_header.scss */
#header .contentMenu .userProfile a:hover, #header .contentMenu .campaignsDropDown a:hover, #header .contentMenu .messagesDropDown a:hover {
  background-color: #732b73;
  color: white;
}
/* line 158, ../sass/ui/_header.scss */
#header .contentMenu .userProfile.campaignsDropDown, #header .contentMenu .campaignsDropDown.campaignsDropDown, #header .contentMenu .messagesDropDown.campaignsDropDown {
  right: 10rem;
  width: 30rem;
}
/* line 161, ../sass/ui/_header.scss */
#header .contentMenu .userProfile.campaignsDropDown a, #header .contentMenu .campaignsDropDown.campaignsDropDown a, #header .contentMenu .messagesDropDown.campaignsDropDown a {
  padding-left: 1rem;
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin: 0;
}
/* line 167, ../sass/ui/_header.scss */
#header .contentMenu .userProfile.campaignsDropDown a:last-child, #header .contentMenu .campaignsDropDown.campaignsDropDown a:last-child, #header .contentMenu .messagesDropDown.campaignsDropDown a:last-child {
  text-align: center;
  font-weight: 700;
  padding: 1rem 0;
  margin-top: .5rem;
}
/* line 175, ../sass/ui/_header.scss */
#header .contentMenu .userProfile.messagesDropDown, #header .contentMenu .campaignsDropDown.messagesDropDown, #header .contentMenu .messagesDropDown.messagesDropDown {
  width: 35rem;
  right: 25rem;
}
/* line 178, ../sass/ui/_header.scss */
#header .contentMenu .userProfile.messagesDropDown a, #header .contentMenu .campaignsDropDown.messagesDropDown a, #header .contentMenu .messagesDropDown.messagesDropDown a {
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin: 0;
}
/* line 183, ../sass/ui/_header.scss */
#header .contentMenu .userProfile.messagesDropDown a i, #header .contentMenu .campaignsDropDown.messagesDropDown a i, #header .contentMenu .messagesDropDown.messagesDropDown a i {
  width: 1.8rem;
  background-image: url(../images/messageIcons.png);
  background-size: 100% auto;
  margin-right: 1rem;
}
/* line 189, ../sass/ui/_header.scss */
#header .contentMenu .userProfile.messagesDropDown a span, #header .contentMenu .campaignsDropDown.messagesDropDown a span, #header .contentMenu .messagesDropDown.messagesDropDown a span {
  float: right !important;
  color: #a4afb4;
  font-size: 12px;
  font-size: 1.2rem;
  margin-right: 2.5rem;
  position: relative;
  top: .5rem;
}
/* line 197, ../sass/ui/_header.scss */
#header .contentMenu .userProfile.messagesDropDown a:last-child, #header .contentMenu .campaignsDropDown.messagesDropDown a:last-child, #header .contentMenu .messagesDropDown.messagesDropDown a:last-child {
  text-align: center;
  font-weight: 700;
  padding: 1rem 0;
  margin-top: .5rem;
}
/* line 206, ../sass/ui/_header.scss */
#header .contentMenu .favouritesDropDown {
  background: white;
  text-align: left;
  position: absolute;
  right: 27rem;
  top: 7rem;
  min-width: 45rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
  -webkit-box-shadow: 0rem 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0rem 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
  box-shadow: 0rem 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
}
/* line 215, ../sass/ui/_header.scss */
#header .contentMenu .favouritesDropDown h3 {
  font-size: 15px;
  font-size: 1.5rem;
  padding: .7rem 1rem .5rem 1.5rem;
  margin: 0;
  border-bottom: solid 1px #dce0e2;
}
/* line 221, ../sass/ui/_header.scss */
#header .contentMenu .favouritesDropDown table {
  padding: 1rem;
  width: 100%;
}
/* line 224, ../sass/ui/_header.scss */
#header .contentMenu .favouritesDropDown table th {
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 227, ../sass/ui/_header.scss */
#header .contentMenu .favouritesDropDown table td {
  font-size: 14px;
  font-size: 1.4rem;
  border-spacing: .2rem;
}
/* line 231, ../sass/ui/_header.scss */
#header .contentMenu .favouritesDropDown table a {
  font-weight: 700;
  color: #732b73;
}
/* line 236, ../sass/ui/_header.scss */
#header .contentMenu .favouritesDropDown a.viewAll {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  float: left;
  color: black;
  border-top: solid 1px #dce0e2;
  margin: 0;
  font-weight: 700;
}

/* line 30, ../sass/baseFiles/_styleguide.scss */
.site-wrapper {
  max-width: 96%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../sass/vendor/susy/sass/susy/output/support/_clearfix.scss */
.site-wrapper:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 32, ../sass/baseFiles/_styleguide.scss */
.site-wrapper .content, .site-wrapper .campaign {
  background: #fff;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 39, ../sass/baseFiles/_styleguide.scss */
.backBttn {
  background-color: #878787;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "RobotoRegular", sans-serif;
  padding: .6rem 2rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
}

/* line 51, ../sass/baseFiles/_styleguide.scss */
.sidepanel {
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
  float: left;
  margin: 0;
  padding: 1rem 0 1rem 1.5rem;
  color: #fff;
}
/* line 57, ../sass/baseFiles/_styleguide.scss */
.sidepanel .header {
  padding-top: 4rem;
}
/* line 59, ../sass/baseFiles/_styleguide.scss */
.sidepanel .header h2 {
  width: 28.57143%;
  float: left;
  margin-right: 2.04082%;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "RobotoRegular", sans-serif;
}
/* line 65, ../sass/baseFiles/_styleguide.scss */
.sidepanel .header h3 {
  font-weight: 300;
  font-family: "RobotoRegular", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 69, ../sass/baseFiles/_styleguide.scss */
.sidepanel .header h3 i.fa {
  float: right;
  margin-right: 1rem;
}
/* line 74, ../sass/baseFiles/_styleguide.scss */
.sidepanel .header a {
  background: #fff;
  color: #95a5a6;
  padding: .4rem .8rem .3rem .8rem;
  font-family: "RobotoRegular", sans-serif;
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
  float: right;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: 300;
}
/* line 88, ../sass/baseFiles/_styleguide.scss */
.sidepanel .menu {
  width: 100%;
  float: left;
  margin-top: 2rem;
}
/* line 94, ../sass/baseFiles/_styleguide.scss */
.sidepanel .menu a.link {
  margin-bottom: 1rem;
  color: #fff;
  font-family: "RobotoRegular", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  float: left;
  width: 84.69388%;
  float: left;
  margin-right: 2.04082%;
  clear: both;
}
/* line 103, ../sass/baseFiles/_styleguide.scss */
.sidepanel .menu a.edit {
  float: right;
  width: 8.16327%;
  float: left;
  margin-right: 2.04082%;
  color: #fff;
  margin: 0;
}

/* line 112, ../sass/baseFiles/_styleguide.scss */
.infoMessage {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 0 0 1.5rem 1rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
  font-family: "RobotoRegular", sans-serif;
}
/* line 117, ../sass/baseFiles/_styleguide.scss */
.infoMessage .fa {
  font-size: 3rem;
  font-weight: 300;
  float: left;
  margin: 2.2rem 1rem 0 1.5rem;
}
/* line 125, ../sass/baseFiles/_styleguide.scss */
.infoMessage p {
  float: left;
  font-size: 15px;
  font-size: 1.5rem;
}
/* line 128, ../sass/baseFiles/_styleguide.scss */
.infoMessage p strong {
  float: left;
}
/* line 132, ../sass/baseFiles/_styleguide.scss */
.infoMessage a {
  font-size: 13px;
  font-size: 1.3rem;
  float: left;
  font-family: "RobotoRegular", sans-serif;
  clear: left;
}

/* line 140, ../sass/baseFiles/_styleguide.scss */
.success {
  background-color: #c4e8ae;
  color: #56a029;
}
/* line 143, ../sass/baseFiles/_styleguide.scss */
.success a {
  color: #56a029;
}

/* line 149, ../sass/baseFiles/_styleguide.scss */
.orderArrows span {
  float: left;
}
/* line 152, ../sass/baseFiles/_styleguide.scss */
.orderArrows i {
  background-image: url("../images/orderArrows@2x.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top left;
  float: left;
  width: 1rem;
  height: 1.5rem;
  position: relative;
  top: .3rem;
  margin-left: 1rem;
}
/* line 164, ../sass/baseFiles/_styleguide.scss */
.orderArrows.orderAZ i {
  background-position: top right;
}
/* line 167, ../sass/baseFiles/_styleguide.scss */
.orderArrows.orderZA i {
  background-position: top center;
}

/* line 1, ../sass/pages/_login.scss */
.login-wrapper {
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
  margin: 10% auto 0 auto;
}
/* line 12, ../sass/vendor/susy/sass/susy/output/support/_clearfix.scss */
.login-wrapper:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 6, ../sass/pages/_login.scss */
.login-wrapper .logoContent {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
  -webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.07);
}
/* line 11, ../sass/pages/_login.scss */
.login-wrapper .logoContent img {
  margin: 2em auto 1em 37%;
  width: 25%;
}
/* line 15, ../sass/pages/_login.scss */
.login-wrapper .logoContent form {
  width: 69.38776%;
  float: left;
  margin-right: 2.04082%;
  margin-left: 15%;
}
/* line 18, ../sass/pages/_login.scss */
.login-wrapper .logoContent form h1 {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 1em 0 .6em 0;
  font-family: "RobotoRegular", sans-serif;
  padding: 0;
}
/* line 25, ../sass/pages/_login.scss */
.login-wrapper .logoContent form label {
  margin-left: 0;
  padding: 0 0 1em 0;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 30, ../sass/pages/_login.scss */
.login-wrapper .logoContent form label input[type="text"], .login-wrapper .logoContent form label input[type="password"] {
  outline: none;
  width: 92.85714%;
  float: left;
  margin-right: 2.04082%;
  border: solid 1px #d4d8d8;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 1em 1rem .8em 1rem;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* future proofing */
  -khtml-border-radius: 3px;
  /* for old Konqueror browsers */
  font-family: "RobotoRegular", sans-serif !important;
}
/* line 68, ../sass/baseFiles/_mixins.scss */
.login-wrapper .logoContent form label input[type="text"]:focus, .login-wrapper .logoContent form label input[type="password"]:focus {
  border-width: 2px;
}
/* line 71, ../sass/baseFiles/_mixins.scss */
.login-wrapper .logoContent form label input[type="text"].error, .login-wrapper .logoContent form label input[type="password"].error {
  color: #df0720;
}
/* line 120, ../sass/baseFiles/_mixins.scss */
.login-wrapper .logoContent form label input[type="text"].error::-moz-placeholder, .login-wrapper .logoContent form label input[type="password"].error::-moz-placeholder {
  opacity: 1;
}
/* line 33, ../sass/pages/_login.scss */
.login-wrapper .logoContent form label.rememberMe {
  cursor: pointer;
  font-family: "RobotoRegular", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 37, ../sass/pages/_login.scss */
.login-wrapper .logoContent form label.rememberMe input {
  margin-right: .5em;
  margin-left: .2em;
  position: relative;
  top: .1em;
  float: left;
}
/* line 46, ../sass/pages/_login.scss */
.login-wrapper .logoContent form button {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background-color: #732b73;
  margin-bottom: 3em;
  border: solid 1px #d4d8d8;
  color: white;
  font-family: "RobotoRegular", sans-serif;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* future proofing */
  -khtml-border-radius: 3px;
  /* for old Konqueror browsers */
  padding: 1.3rem 0;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 53, ../sass/pages/_login.scss */
.errorMessage {
  color: #df0720;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "RobotoRegular", sans-serif;
}
/* line 57, ../sass/pages/_login.scss */
.errorMessage i {
  width: 1.5em;
  line-height: 1.5em;
  float: left;
  margin: 0.1em .5em 0 .2em;
  overflow: hidden;
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 2, ../sass/pages/_home.scss */
.home {
  width: 89.79592%;
  float: left;
  margin-right: 2.04082%;
  margin-left: 8%;
}
/* line 7, ../sass/pages/_home.scss */
.home .column {
  width: 21.05263%;
  float: left;
  margin-right: 5.26316%;
  margin: 0 2rem 0 0;
}
/* line 10, ../sass/pages/_home.scss */
.home .column a {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-family: "RobotoRegular", sans-serif;
  background: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 2rem 0 1.8rem 1.2rem;
  background: url(../images/arrowRight-icon.png) no-repeat 96% center;
  background-size: auto 20%;
  background-color: #fff;
  margin: 0;
}
/* line 20, ../sass/pages/_home.scss */
.home .column a:nth-child(2n+2) {
  background-color: #f8f9fa;
  border-bottom: solid 1px #dce0e2;
}
/* line 24, ../sass/pages/_home.scss */
.home .column a:hover {
  background-color: #f5f6f7;
  color: #983998;
}

/* line 1, ../sass/pages/_campaign.scss */
.campaign {
  font-family: "RobotoRegular", sans-serif;
  color: #2A3137;
}
/* line 5, ../sass/pages/_campaign.scss */
.campaign .tableHeader {
  padding: 4rem 0 3rem 0;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  border-bottom: solid 0.8px #D4D9DB;
}
/* line 9, ../sass/pages/_campaign.scss */
.campaign .tableHeader a {
  color: #732b73;
  padding: 1rem 1.3rem;
  margin-right: 1rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
}
/* line 14, ../sass/pages/_campaign.scss */
.campaign .tableHeader a.active {
  background-color: #732b73;
  color: #fff;
}
/* line 18, ../sass/pages/_campaign.scss */
.campaign .tableHeader a:first-child {
  margin-left: 3rem;
}
/* line 23, ../sass/pages/_campaign.scss */
.campaign h1 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "RobotoRegular", sans-serif;
  font-weight: 400;
  float: left;
  padding: .5rem 0 .5rem 0;
  border-bottom: solid 2px #D4D9DB;
  margin-bottom: 0;
}
/* line 32, ../sass/pages/_campaign.scss */
.campaign h1 span {
  float: left;
  padding-left: 4.5rem;
}
/* line 36, ../sass/pages/_campaign.scss */
.campaign h1 a {
  float: right !important;
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
  font-size: 14px;
  font-size: 1.4rem;
  text-align: right;
  padding: .5rem;
  margin-right: 4rem;
}
/* line 45, ../sass/pages/_campaign.scss */
.campaign table {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
/* line 49, ../sass/pages/_campaign.scss */
.campaign table th {
  background: #f8f4f8;
  font-weight: 300;
  color: #732b73;
  background: #F6F1F6;
  padding: 2rem 0 2rem 4rem;
  text-align: left;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "RobotoRegular", sans-serif;
  text-transform: uppercase;
}
/* line 53, ../sass/pages/_campaign.scss */
.campaign table tr td {
  padding: 1.5rem 0 1.5rem 4rem;
  border-bottom: solid 1px #D4D9DB;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "RobotoRegular", sans-serif;
  background: #fff;
  color: #384047;
}
/* line 55, ../sass/pages/_campaign.scss */
.campaign table tr td a {
  color: #732b73;
}
/* line 60, ../sass/pages/_campaign.scss */
.campaign table tr:nth-child(even) td {
  background: #f8f9fa;
}
/* line 65, ../sass/pages/_campaign.scss */
.campaign table th:last-child, .campaign table td:last-child {
  width: 18%;
}
/* line 69, ../sass/pages/_campaign.scss */
.campaign .tableFooter {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 2rem 0 2rem 0;
  border-top: solid 1px #D4D9DB;
}
/* line 73, ../sass/pages/_campaign.scss */
.campaign .tableFooter a {
  float: right;
}
/* line 75, ../sass/pages/_campaign.scss */
.campaign .tableFooter a.exitBttn {
  background-color: #D03B3B;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "RobotoRegular", sans-serif;
  padding: .6rem 2rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
}
/* line 78, ../sass/pages/_campaign.scss */
.campaign .tableFooter a.continueBttn {
  background-color: #4AAF46;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "RobotoRegular", sans-serif;
  padding: .6rem 2rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
  margin-left: 1rem;
  margin-right: 2rem;
}
/* line 84, ../sass/pages/_campaign.scss */
.campaign .tableFooter .backBttn {
  float: left;
  margin-left: 3rem;
}

/* line 92, ../sass/pages/_campaign.scss */
.creativesCreate h1 {
  border-bottom-width: 1px;
}
/* line 95, ../sass/pages/_campaign.scss */
.creativesCreate form {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-family: "RobotoRegular", sans-serif;
}
/* line 98, ../sass/pages/_campaign.scss */
.creativesCreate form fieldset {
  padding: 3rem 0;
  border: none;
}
/* line 101, ../sass/pages/_campaign.scss */
.creativesCreate form fieldset:first-child {
  border-bottom: solid 1px #D4D9DB;
}
/* line 104, ../sass/pages/_campaign.scss */
.creativesCreate form fieldset label {
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
  float: left;
  clear: left;
  margin-left: 4rem;
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 110, ../sass/pages/_campaign.scss */
.creativesCreate form fieldset label.orLabel {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
/* line 115, ../sass/pages/_campaign.scss */
.creativesCreate form fieldset input[type="text"], .creativesCreate form fieldset textarea, .creativesCreate form fieldset input[type='file'] {
  width: 69.38776%;
  float: left;
  margin-right: 2.04082%;
  float: left;
  border: solid 1px #D4D9DB;
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
  /* future proofing */
  -khtml-border-radius: 0.4rem;
  /* for old Konqueror browsers */
  padding: 1rem;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "RobotoRegular", sans-serif;
  margin-bottom: 1rem;
}
/* line 124, ../sass/pages/_campaign.scss */
.creativesCreate form fieldset input[type="text"][type="text"], .creativesCreate form fieldset input[type="text"][type="file"], .creativesCreate form fieldset textarea[type="text"], .creativesCreate form fieldset textarea[type="file"], .creativesCreate form fieldset input[type='file'][type="text"], .creativesCreate form fieldset input[type='file'][type="file"] {
  width: 38.77551%;
  float: left;
  margin-right: 2.04082%;
}
/* line 127, ../sass/pages/_campaign.scss */
.creativesCreate form fieldset input[type="text"]:focus, .creativesCreate form fieldset textarea:focus, .creativesCreate form fieldset input[type='file']:focus {
  border-color: #9ca8ad;
}
/* line 131, ../sass/pages/_campaign.scss */
.creativesCreate form fieldset textarea {
  height: 7rem;
}

/* line 138, ../sass/pages/_campaign.scss */
.campaignCreate form {
  margin-top: 2rem;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 141, ../sass/pages/_campaign.scss */
.campaignCreate form fieldset {
  border: none;
}
/* line 143, ../sass/pages/_campaign.scss */
.campaignCreate form fieldset label {
  width: 13.7931%;
  float: left;
  margin-right: 3.44828%;
  margin-right: 3rem;
  float: left;
}
/* line 147, ../sass/pages/_campaign.scss */
.campaignCreate form fieldset label.campaignName {
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
}
/* line 151, ../sass/pages/_campaign.scss */
.campaignCreate form fieldset label input, .campaignCreate form fieldset label textarea, .campaignCreate form fieldset label select {
  width: 89.79592%;
  float: left;
  margin-right: 2.04082%;
  float: left;
  clear: left;
  padding: 1rem;
  border: solid 1px #D4D9DB;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  /* future proofing */
  -khtml-border-radius: 0.5rem;
  /* for old Konqueror browsers */
}
/* line 159, ../sass/pages/_campaign.scss */
.campaignCreate form fieldset label:first-child {
  margin-left: 3rem;
}
/* line 164, ../sass/pages/_campaign.scss */
.campaignCreate form fieldset:last-child label {
  width: 92.85714%;
  float: left;
  margin-right: 2.04082%;
}
/* line 166, ../sass/pages/_campaign.scss */
.campaignCreate form fieldset:last-child label textarea {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 174, ../sass/pages/_campaign.scss */
.campaignCreate .tableFooter {
  border: none;
  padding-top: .5rem;
}
/* line 178, ../sass/pages/_campaign.scss */
.campaignCreate .continueExitBttn {
  background-color: #732b73;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "RobotoRegular", sans-serif;
  padding: .6rem 2rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
  margin-right: 1.5rem;
}
/* line 182, ../sass/pages/_campaign.scss */
.campaignCreate .exitBttn {
  margin-right: 3rem;
}

/* line 2, ../sass/pages/_favourites.scss */
.Favourites {
  background: #58595b;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: -1rem 1rem 0 0;
  padding: 0;
}
/* line 4, ../sass/pages/_favourites.scss */
.Favourites .favourites {
  background: #ecf0f1;
  width: 77.55102%;
  float: left;
  margin-right: 2.04082%;
  margin: 0;
  padding: 2rem 0 0 1rem;
  float: right !important;
}
/* line 10, ../sass/pages/_favourites.scss */
.Favourites .favourites .tableHeader {
  background: #fff;
  padding: 2rem 0;
  font-size: 13px;
  font-size: 1.3rem;
  color: #929292;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 0 0 0 1rem;
  font-family: "RobotoRegular", sans-serif;
  border-bottom: solid 1px #D4D9DB;
}
/* line 19, ../sass/pages/_favourites.scss */
.Favourites .favourites .tableHeader p, .Favourites .favourites .tableHeader a {
  margin: 0;
  padding: .5rem 1.3rem .4rem 1.3rem;
  float: left;
  color: #929292;
  margin-right: 1rem;
}
/* line 25, ../sass/pages/_favourites.scss */
.Favourites .favourites .tableHeader p:hover, .Favourites .favourites .tableHeader p.active, .Favourites .favourites .tableHeader a:hover, .Favourites .favourites .tableHeader a.active {
  background: #732b73;
  color: #fff;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  /* future proofing */
  -khtml-border-radius: 2rem;
  /* for old Konqueror browsers */
}
/* line 31, ../sass/pages/_favourites.scss */
.Favourites .favourites .tableHeader p {
  color: #000000;
  margin-left: 1rem;
}
/* line 35, ../sass/pages/_favourites.scss */
.Favourites .favourites .tableHeader .searchForm {
  float: right;
  width: 200px;
  margin-right: 1.5rem;
  background: #E7ECEE;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
}
/* line 430, ../sass/baseFiles/_mixins.scss */
.Favourites .favourites .tableHeader .searchForm input, .Favourites .favourites .tableHeader .searchForm button {
  width: 72%;
  margin: 0;
  padding: 0;
  float: left;
  border: none;
  font-size: 14px;
  font-size: 1.4rem;
  background: transparent;
  padding: .5rem 1rem;
}
/* line 440, ../sass/baseFiles/_mixins.scss */
.Favourites .favourites .tableHeader .searchForm button {
  width: 18%;
  padding: .4rem 1rem .4rem .8rem;
  float: right;
}
/* line 39, ../sass/pages/_favourites.scss */
.Favourites .favourites .tableFooter {
  background: #fff;
  width: 100%;
  margin-left: 1.1rem;
  padding: 1rem 0;
  float: left;
}
/* line 45, ../sass/pages/_favourites.scss */
.Favourites .favourites .tableFooter .navInfo {
  float: left;
  max-width: 35%;
  margin-left: 3rem;
  font-family: "RobotoRegular", sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  color: #a3a3a3;
}
/* line 49, ../sass/pages/_favourites.scss */
.Favourites .favourites .tableFooter .navLinks {
  float: right;
  width: 65%;
  margin-right: 1rem;
  font-family: "RobotoRegular", sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
}
/* line 484, ../sass/baseFiles/_mixins.scss */
.Favourites .favourites .tableFooter .navLinks p {
  float: right;
  width: 15%;
  text-align: right;
  padding: 0;
  margin: 1rem .5rem 0 0;
  color: #a3a3a3;
}
/* line 492, ../sass/baseFiles/_mixins.scss */
.Favourites .favourites .tableFooter .navLinks .links {
  float: right;
  max-width: 75%;
  margin: .7rem 1rem 0 0;
}
/* line 496, ../sass/baseFiles/_mixins.scss */
.Favourites .favourites .tableFooter .navLinks .links a {
  padding: .3rem 1rem .2rem 1rem;
  float: left;
}
/* line 499, ../sass/baseFiles/_mixins.scss */
.Favourites .favourites .tableFooter .navLinks .links a:hover, .Favourites .favourites .tableFooter .navLinks .links a.active {
  background: #58595b;
  color: #fff;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  /* future proofing */
  -khtml-border-radius: 2rem;
  /* for old Konqueror browsers */
}
/* line 54, ../sass/pages/_favourites.scss */
.Favourites .favourites table {
  float: left;
  width: 100%;
  margin-left: 1rem;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
/* line 62, ../sass/pages/_favourites.scss */
.Favourites .favourites table thead th {
  background: #f8f4f8;
  font-weight: 300;
  color: #732b73;
  background: #F6F1F6;
  padding: 2rem 0 2rem 4rem;
  text-align: left;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "RobotoRegular", sans-serif;
  text-transform: uppercase;
}
/* line 64, ../sass/pages/_favourites.scss */
.Favourites .favourites table thead th a {
  color: #732b73;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "RobotoRegular", sans-serif;
  font-weight: 400;
}
/* line 74, ../sass/pages/_favourites.scss */
.Favourites .favourites table tr td {
  padding: 1.5rem 0 1.5rem 4rem;
  border-bottom: solid 1px #D4D9DB;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "RobotoRegular", sans-serif;
  background: #fff;
  color: #384047;
  font-size: 13.5px;
  font-size: 1.35rem;
  padding-right: .3rem;
}
/* line 78, ../sass/pages/_favourites.scss */
.Favourites .favourites table tr td a {
  color: #732b73;
  font-size: 13.5px;
  font-size: 1.35rem;
}
/* line 84, ../sass/pages/_favourites.scss */
.Favourites .favourites table tr:nth-child(even) td {
  background: #f8f9fa;
}
/* line 89, ../sass/pages/_favourites.scss */
.Favourites .favourites table th:last-child, .Favourites .favourites table td:last-child {
  width: 18%;
}
/* line 96, ../sass/pages/_favourites.scss */
.Favourites .sidepanel .menu .link {
  margin: 0 0 1rem 0;
}

/* line 1, ../sass/pages/_campaignSearch.scss */
.Campaign-Search {
  background: #58595b;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: -1rem 1rem 0 0;
  padding: 0;
}
/* line 3, ../sass/pages/_campaignSearch.scss */
.Campaign-Search .campaignSearch {
  background: #ecf0f1;
  width: 77.55102%;
  float: left;
  margin-right: 2.04082%;
  padding: 2rem 0 0 2rem;
  margin: 0;
  float: right !important;
}
/* line 5, ../sass/pages/_campaignSearch.scss */
.Campaign-Search .campaignSearch .tableHeader {
  background: #fff;
  padding: 2rem 0;
  font-size: 13px;
  font-size: 1.3rem;
  color: #929292;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 0 0 0 1rem;
  font-family: "RobotoRegular", sans-serif;
  border-bottom: solid 1px #D4D9DB;
}
/* line 14, ../sass/pages/_campaignSearch.scss */
.Campaign-Search .campaignSearch .tableHeader p, .Campaign-Search .campaignSearch .tableHeader a {
  margin: 0;
  padding: .5rem 1.3rem .4rem 1.3rem;
  float: left;
  color: #929292;
  margin-right: 1rem;
}
/* line 20, ../sass/pages/_campaignSearch.scss */
.Campaign-Search .campaignSearch .tableHeader p:hover, .Campaign-Search .campaignSearch .tableHeader p.active, .Campaign-Search .campaignSearch .tableHeader a:hover, .Campaign-Search .campaignSearch .tableHeader a.active {
  background: #732b73;
  color: #fff;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  /* future proofing */
  -khtml-border-radius: 2rem;
  /* for old Konqueror browsers */
}
/* line 26, ../sass/pages/_campaignSearch.scss */
.Campaign-Search .campaignSearch .tableHeader p {
  color: #000000;
  margin-left: 1rem;
}
/* line 30, ../sass/pages/_campaignSearch.scss */
.Campaign-Search .campaignSearch .tableHeader .searchForm {
  float: right;
  width: 200px;
  margin-right: 1.5rem;
  background: #E7ECEE;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
}
/* line 430, ../sass/baseFiles/_mixins.scss */
.Campaign-Search .campaignSearch .tableHeader .searchForm input, .Campaign-Search .campaignSearch .tableHeader .searchForm button {
  width: 72%;
  margin: 0;
  padding: 0;
  float: left;
  border: none;
  font-size: 14px;
  font-size: 1.4rem;
  background: transparent;
  padding: .5rem 1rem;
}
/* line 440, ../sass/baseFiles/_mixins.scss */
.Campaign-Search .campaignSearch .tableHeader .searchForm button {
  width: 18%;
  padding: .4rem 1rem .4rem .8rem;
  float: right;
}
/* line 34, ../sass/pages/_campaignSearch.scss */
.Campaign-Search .campaignSearch .tableFooter {
  background: #fff;
  width: 100%;
  margin-left: 1.2rem;
  padding: 1rem 0;
  float: left;
}
/* line 40, ../sass/pages/_campaignSearch.scss */
.Campaign-Search .campaignSearch .tableFooter .navInfo {
  float: left;
  max-width: 35%;
  margin-left: 3rem;
  font-family: "RobotoRegular", sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  color: #a3a3a3;
}
/* line 44, ../sass/pages/_campaignSearch.scss */
.Campaign-Search .campaignSearch .tableFooter .navLinks {
  float: right;
  width: 65%;
  margin-right: 1rem;
  font-family: "RobotoRegular", sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
}
/* line 484, ../sass/baseFiles/_mixins.scss */
.Campaign-Search .campaignSearch .tableFooter .navLinks p {
  float: right;
  width: 15%;
  text-align: right;
  padding: 0;
  margin: 1rem .5rem 0 0;
  color: #a3a3a3;
}
/* line 492, ../sass/baseFiles/_mixins.scss */
.Campaign-Search .campaignSearch .tableFooter .navLinks .links {
  float: right;
  max-width: 75%;
  margin: .7rem 1rem 0 0;
}
/* line 496, ../sass/baseFiles/_mixins.scss */
.Campaign-Search .campaignSearch .tableFooter .navLinks .links a {
  padding: .3rem 1rem .2rem 1rem;
  float: left;
}
/* line 499, ../sass/baseFiles/_mixins.scss */
.Campaign-Search .campaignSearch .tableFooter .navLinks .links a:hover, .Campaign-Search .campaignSearch .tableFooter .navLinks .links a.active {
  background: #58595b;
  color: #fff;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  /* future proofing */
  -khtml-border-radius: 2rem;
  /* for old Konqueror browsers */
}
/* line 49, ../sass/pages/_campaignSearch.scss */
.Campaign-Search .campaignSearch table {
  float: left;
  width: 100%;
  margin-left: 1rem;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
/* line 57, ../sass/pages/_campaignSearch.scss */
.Campaign-Search .campaignSearch table thead th {
  background: #f8f4f8;
  font-weight: 300;
  color: #732b73;
  background: #F6F1F6;
  padding: 2rem 0 2rem 4rem;
  text-align: left;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "RobotoRegular", sans-serif;
  text-transform: uppercase;
}
/* line 59, ../sass/pages/_campaignSearch.scss */
.Campaign-Search .campaignSearch table thead th a {
  color: #732b73;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "RobotoRegular", sans-serif;
  font-weight: 400;
}
/* line 69, ../sass/pages/_campaignSearch.scss */
.Campaign-Search .campaignSearch table tr td {
  padding: 1.5rem 0 1.5rem 4rem;
  border-bottom: solid 1px #D4D9DB;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "RobotoRegular", sans-serif;
  background: #fff;
  color: #384047;
  font-size: 13.5px;
  font-size: 1.35rem;
  padding-right: .3rem;
}
/* line 73, ../sass/pages/_campaignSearch.scss */
.Campaign-Search .campaignSearch table tr td a {
  color: #732b73;
  font-size: 13.5px;
  font-size: 1.35rem;
}
/* line 79, ../sass/pages/_campaignSearch.scss */
.Campaign-Search .campaignSearch table tr:nth-child(even) td {
  background: #f8f9fa;
}
/* line 84, ../sass/pages/_campaignSearch.scss */
.Campaign-Search .campaignSearch table th:last-child, .Campaign-Search .campaignSearch table td:last-child {
  width: 18%;
}

/* line 91, ../sass/pages/_campaignSearch.scss */
.sideSearch .menu {
  width: 84.69388%;
  float: left;
  margin-right: 2.04082%;
  margin-bottom: 2rem;
}
/* line 94, ../sass/pages/_campaignSearch.scss */
.sideSearch .menu select {
  width: 43.87755%;
  float: left;
  margin-right: 2.04082%;
  padding: .5rem;
  margin-bottom: 1rem;
}
/* line 99, ../sass/pages/_campaignSearch.scss */
.sideSearch .menu input {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1rem;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  /* future proofing */
  -khtml-border-radius: 0.3rem;
  /* for old Konqueror browsers */
  padding: .5rem;
  border: none;
}
/* line 105, ../sass/pages/_campaignSearch.scss */
.sideSearch .menu input.toCPM, .sideSearch .menu input.fromCPM {
  width: 38.77551%;
  float: left;
  margin-right: 2.04082%;
}
/* line 108, ../sass/pages/_campaignSearch.scss */
.sideSearch .menu input.fromCPM {
  clear: left;
}
/* line 113, ../sass/pages/_campaignSearch.scss */
.sideSearch a.search, .sideSearch a.reset {
  color: white;
  text-align: center;
  text-transform: uppercase;
  background-color: #732b73;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "RobotoRegular", sans-serif;
  padding: .6rem 2rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0 .5rem .5rem 0;
  padding: .5rem;
  float: left;
  width: 38%;
}
/* line 123, ../sass/pages/_campaignSearch.scss */
.sideSearch a.search.reset, .sideSearch a.reset.reset {
  background: #464749;
}

/* line 1, ../sass/pages/_messages.scss */
.Messages {
  background: #58595b;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: -1rem 1rem 0 0;
  padding: 0;
}
/* line 3, ../sass/pages/_messages.scss */
.Messages .campaignSearch {
  background: #ecf0f1;
  width: 77.55102%;
  float: left;
  margin-right: 2.04082%;
  padding: 2rem 0 0 2rem;
  margin: 0;
  float: right !important;
}
/* line 5, ../sass/pages/_messages.scss */
.Messages .campaignSearch .tableHeader {
  background: #fff;
  padding: 2rem 0;
  font-size: 13px;
  font-size: 1.3rem;
  color: #929292;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 0 0 0 1rem;
  font-family: "RobotoRegular", sans-serif;
  border-bottom: solid 1px #D4D9DB;
}
/* line 14, ../sass/pages/_messages.scss */
.Messages .campaignSearch .tableHeader p, .Messages .campaignSearch .tableHeader a {
  margin: 0;
  padding: .5rem 1.3rem .4rem 1.3rem;
  float: left;
  color: #929292;
  margin-right: 1rem;
}
/* line 20, ../sass/pages/_messages.scss */
.Messages .campaignSearch .tableHeader p:hover, .Messages .campaignSearch .tableHeader p.active, .Messages .campaignSearch .tableHeader a:hover, .Messages .campaignSearch .tableHeader a.active {
  background: #732b73;
  color: #fff;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  /* future proofing */
  -khtml-border-radius: 2rem;
  /* for old Konqueror browsers */
}
/* line 26, ../sass/pages/_messages.scss */
.Messages .campaignSearch .tableHeader p {
  color: #000000;
  margin-left: 1rem;
}
/* line 30, ../sass/pages/_messages.scss */
.Messages .campaignSearch .tableHeader .searchForm {
  float: right;
  width: 200px;
  margin-right: 1.5rem;
  background: #E7ECEE;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
}
/* line 430, ../sass/baseFiles/_mixins.scss */
.Messages .campaignSearch .tableHeader .searchForm input, .Messages .campaignSearch .tableHeader .searchForm button {
  width: 72%;
  margin: 0;
  padding: 0;
  float: left;
  border: none;
  font-size: 14px;
  font-size: 1.4rem;
  background: transparent;
  padding: .5rem 1rem;
}
/* line 440, ../sass/baseFiles/_mixins.scss */
.Messages .campaignSearch .tableHeader .searchForm button {
  width: 18%;
  padding: .4rem 1rem .4rem .8rem;
  float: right;
}
/* line 34, ../sass/pages/_messages.scss */
.Messages .campaignSearch .tableFooter {
  background: #fff;
  width: 100%;
  margin-left: 1.2rem;
  padding: 1rem 0;
  float: left;
}
/* line 40, ../sass/pages/_messages.scss */
.Messages .campaignSearch .tableFooter .navInfo {
  float: left;
  max-width: 35%;
  margin-left: 3rem;
  font-family: "RobotoRegular", sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  color: #a3a3a3;
}
/* line 44, ../sass/pages/_messages.scss */
.Messages .campaignSearch .tableFooter .navLinks {
  float: right;
  width: 65%;
  margin-right: 1rem;
  font-family: "RobotoRegular", sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
}
/* line 484, ../sass/baseFiles/_mixins.scss */
.Messages .campaignSearch .tableFooter .navLinks p {
  float: right;
  width: 15%;
  text-align: right;
  padding: 0;
  margin: 1rem .5rem 0 0;
  color: #a3a3a3;
}
/* line 492, ../sass/baseFiles/_mixins.scss */
.Messages .campaignSearch .tableFooter .navLinks .links {
  float: right;
  max-width: 75%;
  margin: .7rem 1rem 0 0;
}
/* line 496, ../sass/baseFiles/_mixins.scss */
.Messages .campaignSearch .tableFooter .navLinks .links a {
  padding: .3rem 1rem .2rem 1rem;
  float: left;
}
/* line 499, ../sass/baseFiles/_mixins.scss */
.Messages .campaignSearch .tableFooter .navLinks .links a:hover, .Messages .campaignSearch .tableFooter .navLinks .links a.active {
  background: #58595b;
  color: #fff;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  /* future proofing */
  -khtml-border-radius: 2rem;
  /* for old Konqueror browsers */
}
/* line 49, ../sass/pages/_messages.scss */
.Messages .campaignSearch table {
  float: left;
  width: 100%;
  margin-left: 1rem;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
/* line 57, ../sass/pages/_messages.scss */
.Messages .campaignSearch table thead th {
  background: #f8f4f8;
  font-weight: 300;
  color: #732b73;
  background: #F6F1F6;
  padding: 2rem 0 2rem 4rem;
  text-align: left;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "RobotoRegular", sans-serif;
  text-transform: uppercase;
}
/* line 59, ../sass/pages/_messages.scss */
.Messages .campaignSearch table thead th a {
  color: #732b73;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "RobotoRegular", sans-serif;
  font-weight: 400;
}
/* line 69, ../sass/pages/_messages.scss */
.Messages .campaignSearch table tr td {
  padding: 1.5rem 0 1.5rem 4rem;
  border-bottom: solid 1px #D4D9DB;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "RobotoRegular", sans-serif;
  background: #fff;
  color: #384047;
  font-size: 13.5px;
  font-size: 1.35rem;
  padding-right: .3rem;
}
/* line 73, ../sass/pages/_messages.scss */
.Messages .campaignSearch table tr td a {
  color: #732b73;
  font-size: 13.5px;
  font-size: 1.35rem;
}
/* line 79, ../sass/pages/_messages.scss */
.Messages .campaignSearch table tr:nth-child(even) td {
  background: #f8f9fa;
}
/* line 84, ../sass/pages/_messages.scss */
.Messages .campaignSearch table th:last-child, .Messages .campaignSearch table td:last-child {
  width: 18%;
}

/* line 92, ../sass/pages/_messages.scss */
.sidepanel .menu {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  float: left;
  margin-bottom: 2rem;
  font-family: "RobotoRegular", sans-serif;
  color: white;
}
/* line 99, ../sass/pages/_messages.scss */
.sidepanel .menu a {
  color: white;
  font-size: 13px;
  font-size: 1.3rem;
  width: 59.18367%;
  float: left;
  margin-right: 2.04082%;
  margin: 0 0 .5rem 0;
  padding: 0;
  float: left;
}
/* line 106, ../sass/pages/_messages.scss */
.sidepanel .menu a.edit {
  float: right;
  width: 15% !important;
  font-size: 13px;
  font-size: 1.3rem;
}

/* line 2, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange .tableHeader {
  background: #fff;
  padding: 2rem 0;
  font-size: 13px;
  font-size: 1.3rem;
  color: #000000;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 1rem 0 0 0;
  font-family: "RobotoRegular", sans-serif;
  border-bottom: solid 1px #D4D9DB;
}
/* line 11, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange .tableHeader p {
  margin: 0;
  padding: .5rem 1.3rem .4rem 1.3rem;
  float: left;
  color: #929292;
  margin-right: 1rem;
}
/* line 18, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange .tableHeader a {
  color: #732b73;
  font-weight: 700;
}
/* line 21, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange .tableHeader a:hover {
  color: #863286;
}
/* line 24, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange .tableHeader a.active {
  color: #4e1d4e;
}
/* line 29, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange .tableFooter {
  background: #fff;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem 0;
  float: left;
}
/* line 36, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange .tableFooter .navInfo {
  float: left;
  max-width: 35%;
  margin-left: 3rem;
  font-family: "RobotoRegular", sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  color: #a3a3a3;
}
/* line 40, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange .tableFooter .navLinks {
  float: right;
  width: 65%;
  margin-right: 1rem;
  font-family: "RobotoRegular", sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
}
/* line 484, ../sass/baseFiles/_mixins.scss */
.Foreign-Exchange .tableFooter .navLinks p {
  float: right;
  width: 15%;
  text-align: right;
  padding: 0;
  margin: 1rem .5rem 0 0;
  color: #a3a3a3;
}
/* line 492, ../sass/baseFiles/_mixins.scss */
.Foreign-Exchange .tableFooter .navLinks .links {
  float: right;
  max-width: 75%;
  margin: .7rem 1rem 0 0;
}
/* line 496, ../sass/baseFiles/_mixins.scss */
.Foreign-Exchange .tableFooter .navLinks .links a {
  padding: .3rem 1rem .2rem 1rem;
  float: left;
}
/* line 499, ../sass/baseFiles/_mixins.scss */
.Foreign-Exchange .tableFooter .navLinks .links a:hover, .Foreign-Exchange .tableFooter .navLinks .links a.active {
  background: #58595b;
  color: #fff;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  /* future proofing */
  -khtml-border-radius: 2rem;
  /* for old Konqueror browsers */
}
/* line 45, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange table {
  float: left;
  width: 100%;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
/* line 53, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange table thead th {
  background: #f8f4f8;
  font-weight: 300;
  color: #732b73;
  background: #F6F1F6;
  padding: 2rem 0 2rem 4rem;
  text-align: left;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "RobotoRegular", sans-serif;
  text-transform: uppercase;
}
/* line 55, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange table thead th a {
  color: #732b73;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "RobotoRegular", sans-serif;
  font-weight: 400;
}
/* line 65, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange table tr td {
  padding: 1.5rem 0 1.5rem 4rem;
  border-bottom: solid 1px #D4D9DB;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "RobotoRegular", sans-serif;
  background: #fff;
  color: #384047;
  font-size: 13.5px;
  font-size: 1.35rem;
  padding-right: .3rem;
}
/* line 69, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange table tr td a {
  color: #732b73;
  font-size: 13.5px;
  font-size: 1.35rem;
}
/* line 75, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange table tr:nth-child(even) td {
  background: #f8f9fa;
}
/* line 80, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange table th:last-child, .Foreign-Exchange table td:last-child {
  width: 18%;
}
/* line 84, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange th a.addBttn {
  background-color: #732b73;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "RobotoRegular", sans-serif;
  padding: .6rem 2rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
  color: #fff;
  float: right;
  font-size: 12px;
  font-size: 1.2rem;
  margin-right: 1rem;
  padding: .5rem 1rem;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  /* future proofing */
  -khtml-border-radius: 0.3rem;
  /* for old Konqueror browsers */
  width: 5rem;
  text-align: center;
}
/* line 94, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange th a.addBttn:hover {
  background-color: #863286;
}
/* line 97, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange th a.addBttn:active {
  background-color: #602460;
}
/* line 101, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange a.edit, .Foreign-Exchange a.unlock, .Foreign-Exchange a.delete {
  background-color: #5cb85c;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "RobotoRegular", sans-serif;
  padding: .6rem 2rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
  font-size: 12px;
  font-size: 1.2rem;
  padding: .5rem 1rem;
  text-transform: uppercase;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  /* future proofing */
  -khtml-border-radius: 0.3rem;
  /* for old Konqueror browsers */
  float: right;
  margin-right: .5rem;
  width: 5rem;
  text-align: center;
}
/* line 111, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange a.edit:hover, .Foreign-Exchange a.unlock:hover, .Foreign-Exchange a.delete:hover {
  background-color: #6ec06e;
}
/* line 114, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange a.edit:active, .Foreign-Exchange a.unlock:active, .Foreign-Exchange a.delete:active {
  background-color: #4cae4c;
}
/* line 117, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange a.edit.delete, .Foreign-Exchange a.unlock.delete, .Foreign-Exchange a.delete.delete {
  background-color: #d9534f;
}
/* line 119, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange a.edit.delete:hover, .Foreign-Exchange a.unlock.delete:hover, .Foreign-Exchange a.delete.delete:hover {
  background-color: #de6764;
}
/* line 122, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange a.edit.delete:active, .Foreign-Exchange a.unlock.delete:active, .Foreign-Exchange a.delete.delete:active {
  background-color: #d43f3a;
}
/* line 126, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange a.edit.unlock, .Foreign-Exchange a.unlock.unlock, .Foreign-Exchange a.delete.unlock {
  background-color: #207320;
}
/* line 128, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange a.edit.unlock:hover, .Foreign-Exchange a.unlock.unlock:hover, .Foreign-Exchange a.delete.unlock:hover {
  background-color: #de6764;
}
/* line 131, ../sass/pages/_foreignExchange.scss */
.Foreign-Exchange a.edit.unlock:active, .Foreign-Exchange a.unlock.unlock:active, .Foreign-Exchange a.delete.unlock:active {
  background-color: #d43f3a;
}

/* line 2, ../sass/pages/_foreignExchangeAdd.scss */
.Foreign-Exchange-Add .tableHeader {
  background: #fff;
  padding: 2rem 0;
  font-size: 13px;
  font-size: 1.3rem;
  color: #000000;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 1rem 0 0 0;
  font-family: "RobotoRegular", sans-serif;
  border-bottom: solid 1px #D4D9DB;
}
/* line 11, ../sass/pages/_foreignExchangeAdd.scss */
.Foreign-Exchange-Add .tableHeader p {
  margin: 0;
  padding: .5rem 1.3rem .4rem 1.3rem;
  float: left;
  color: #929292;
  margin-right: 1rem;
}
/* line 18, ../sass/pages/_foreignExchangeAdd.scss */
.Foreign-Exchange-Add .tableHeader a {
  color: #732b73;
  font-weight: 700;
}
/* line 21, ../sass/pages/_foreignExchangeAdd.scss */
.Foreign-Exchange-Add .tableHeader a:hover {
  color: #863286;
}
/* line 24, ../sass/pages/_foreignExchangeAdd.scss */
.Foreign-Exchange-Add .tableHeader a.active {
  color: #4e1d4e;
}
/* line 29, ../sass/pages/_foreignExchangeAdd.scss */
.Foreign-Exchange-Add table {
  float: left;
  width: 100%;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
/* line 37, ../sass/pages/_foreignExchangeAdd.scss */
.Foreign-Exchange-Add table thead th {
  background: #f8f4f8;
  font-weight: 300;
  color: #732b73;
  background: #F6F1F6;
  padding: 2rem 0 2rem 4rem;
  text-align: left;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "RobotoRegular", sans-serif;
  text-transform: uppercase;
}
/* line 39, ../sass/pages/_foreignExchangeAdd.scss */
.Foreign-Exchange-Add table thead th a {
  color: #732b73;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "RobotoRegular", sans-serif;
  font-weight: 400;
}
/* line 49, ../sass/pages/_foreignExchangeAdd.scss */
.Foreign-Exchange-Add table tr td {
  padding: 1.5rem 0 1.5rem 4rem;
  border-bottom: solid 1px #D4D9DB;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "RobotoRegular", sans-serif;
  background: #fff;
  color: #384047;
  font-size: 13.5px;
  font-size: 1.35rem;
  padding-right: .3rem;
}
/* line 53, ../sass/pages/_foreignExchangeAdd.scss */
.Foreign-Exchange-Add table tr td input {
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  /* future proofing */
  -khtml-border-radius: 0.3rem;
  /* for old Konqueror browsers */
  padding: .5rem;
  border: solid 1px #D4D9DB;
}
/* line 58, ../sass/pages/_foreignExchangeAdd.scss */
.Foreign-Exchange-Add table tr td .add {
  background-color: #732b73;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "RobotoRegular", sans-serif;
  padding: .6rem 2rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
  color: #fff;
  float: right;
  font-size: 12px;
  font-size: 1.2rem;
  margin-right: 1rem;
  padding: .5rem 1rem;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  /* future proofing */
  -khtml-border-radius: 0.3rem;
  /* for old Konqueror browsers */
  width: 5rem;
  text-align: center;
}
/* line 68, ../sass/pages/_foreignExchangeAdd.scss */
.Foreign-Exchange-Add table tr td .add:hover {
  background-color: #863286;
}
/* line 71, ../sass/pages/_foreignExchangeAdd.scss */
.Foreign-Exchange-Add table tr td .add:active {
  background-color: #602460;
}
/* line 77, ../sass/pages/_foreignExchangeAdd.scss */
.Foreign-Exchange-Add table tr:nth-child(even) td {
  background: #f8f9fa;
}
/* line 82, ../sass/pages/_foreignExchangeAdd.scss */
.Foreign-Exchange-Add table th:last-child, .Foreign-Exchange-Add table td:last-child {
  width: 18%;
}

/* line 3, ../sass/pages/_insertionOrders.scss */
.Insertion-Orders .campaign .subMenu {
  float: left;
  width: 96%;
  padding: 0 2%;
  border-bottom: solid 1px #D4D9DB;
}
/* line 8, ../sass/pages/_insertionOrders.scss */
.Insertion-Orders .campaign .subMenu a {
  float: left;
  padding: 1.5rem 1.5rem 1.3rem 1.5rem;
  color: #384047;
  margin: 0;
  border-bottom: solid 0.2rem #fff;
}
/* line 14, ../sass/pages/_insertionOrders.scss */
.Insertion-Orders .campaign .subMenu a.active, .Insertion-Orders .campaign .subMenu a:hover {
  border-bottom: solid 2px #732b73;
}
/* line 17, ../sass/pages/_insertionOrders.scss */
.Insertion-Orders .campaign .subMenu a:hover {
  color: #732b73;
}
/* line 21, ../sass/pages/_insertionOrders.scss */
.Insertion-Orders .campaign .subMenu a:last-child, .Insertion-Orders .campaign .subMenu a.close {
  float: right;
  color: #732b73;
  padding-top: 1.7rem;
  font-size: 13.5px;
  font-size: 1.35rem;
  border: none;
}
/* line 32, ../sass/pages/_insertionOrders.scss */
.Insertion-Orders .campaign h1 {
  color: #732b73;
  width: 89.79592%;
  float: left;
  margin-right: 2.04082%;
  margin: 2rem 0 1rem 3rem;
  border: none;
}
/* line 38, ../sass/pages/_insertionOrders.scss */
.Insertion-Orders .campaign .tabs {
  width: 89.79592%;
  float: left;
  margin-right: 2.04082%;
  margin: 1rem 0 2rem 3rem;
}
/* line 41, ../sass/pages/_insertionOrders.scss */
.Insertion-Orders .campaign .tabs a {
  color: #2A3137;
  padding: .5rem 1.5rem;
  float: left;
  margin-right: 1rem;
}
/* line 46, ../sass/pages/_insertionOrders.scss */
.Insertion-Orders .campaign .tabs a.active, .Insertion-Orders .campaign .tabs a:hover {
  background-color: #732b73;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "RobotoRegular", sans-serif;
  padding: .6rem 2rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
}
/* line 52, ../sass/pages/_insertionOrders.scss */
.Insertion-Orders .saveExitBttn {
  background-color: #732b73;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "RobotoRegular", sans-serif;
  padding: .6rem 2rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
  margin-left: 1rem;
}

/* line 2, ../sass/pages/_insertionOrdersReserve.scss */
.Insertion-Orders-Reserve .subMenu {
  float: left;
  width: 96%;
  padding: 0 2%;
  border-bottom: solid 1px #D4D9DB;
}
/* line 7, ../sass/pages/_insertionOrdersReserve.scss */
.Insertion-Orders-Reserve .subMenu a {
  float: left;
  padding: 1.5rem 1.5rem 1.3rem 1.5rem;
  color: #384047;
  margin: 0;
  border-bottom: solid 0.2rem #fff;
}
/* line 13, ../sass/pages/_insertionOrdersReserve.scss */
.Insertion-Orders-Reserve .subMenu a.active, .Insertion-Orders-Reserve .subMenu a:hover {
  border-bottom: solid 2px #732b73;
}
/* line 16, ../sass/pages/_insertionOrdersReserve.scss */
.Insertion-Orders-Reserve .subMenu a:hover {
  color: #732b73;
}
/* line 20, ../sass/pages/_insertionOrdersReserve.scss */
.Insertion-Orders-Reserve .subMenu a:last-child, .Insertion-Orders-Reserve .subMenu a.close {
  float: right;
  color: #732b73;
  padding-top: 1.7rem;
  font-size: 13.5px;
  font-size: 1.35rem;
  border: none;
}
/* line 31, ../sass/pages/_insertionOrdersReserve.scss */
.Insertion-Orders-Reserve h1 {
  color: #732b73;
  width: 89.79592%;
  float: left;
  margin-right: 2.04082%;
  margin: 2rem 0 1rem 3rem;
  border: none;
}
/* line 37, ../sass/pages/_insertionOrdersReserve.scss */
.Insertion-Orders-Reserve table {
  padding: 0;
  margin: 0;
}
/* line 41, ../sass/pages/_insertionOrdersReserve.scss */
.Insertion-Orders-Reserve table tr td, .Insertion-Orders-Reserve table tr th {
  padding: 1rem .5rem 1rem .8rem !important;
  text-align: left;
  min-width: 6rem;
  font-size: 13.5px;
  font-size: 1.35rem;
}
/* line 46, ../sass/pages/_insertionOrdersReserve.scss */
.Insertion-Orders-Reserve table tr td:first-child, .Insertion-Orders-Reserve table tr th:first-child {
  padding-left: 2rem !important;
}
/* line 52, ../sass/pages/_insertionOrdersReserve.scss */
.Insertion-Orders-Reserve .campaignNotes {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}
/* line 55, ../sass/pages/_insertionOrdersReserve.scss */
.Insertion-Orders-Reserve .campaignNotes h2 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #f8f4f8;
  color: #732b73;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  margin: 3rem 0 1.5rem 0;
  font-size: 13px;
  font-size: 1.3rem;
}
/* line 64, ../sass/pages/_insertionOrdersReserve.scss */
.Insertion-Orders-Reserve .campaignNotes p {
  width: 94.89796%;
  float: left;
  margin-right: 2.04082%;
  margin: 1rem 3rem 3rem 3rem;
  font-size: 14px;
  font-size: 1.4rem;
  min-height: 8rem;
}

/* line 3, ../sass/pages/_insertionOrdersSearch.scss */
.Insertion-Orders-Search .campaign .subMenu {
  float: left;
  width: 96%;
  padding: 0 2%;
  border-bottom: solid 1px #D4D9DB;
}
/* line 8, ../sass/pages/_insertionOrdersSearch.scss */
.Insertion-Orders-Search .campaign .subMenu a {
  float: left;
  padding: 1.5rem 1.5rem 1.3rem 1.5rem;
  color: #384047;
  margin: 0;
  border-bottom: solid 0.2rem #fff;
}
/* line 14, ../sass/pages/_insertionOrdersSearch.scss */
.Insertion-Orders-Search .campaign .subMenu a.active, .Insertion-Orders-Search .campaign .subMenu a:hover {
  border-bottom: solid 2px #732b73;
}
/* line 17, ../sass/pages/_insertionOrdersSearch.scss */
.Insertion-Orders-Search .campaign .subMenu a:hover {
  color: #732b73;
}
/* line 21, ../sass/pages/_insertionOrdersSearch.scss */
.Insertion-Orders-Search .campaign .subMenu a:last-child, .Insertion-Orders-Search .campaign .subMenu a.close {
  float: right;
  color: #732b73;
  padding-top: 1.7rem;
  font-size: 13.5px;
  font-size: 1.35rem;
  border: none;
}
/* line 32, ../sass/pages/_insertionOrdersSearch.scss */
.Insertion-Orders-Search .campaign h1 {
  color: #732b73;
  width: 89.79592%;
  float: left;
  margin-right: 2.04082%;
  margin: 2rem 0 1rem 3rem;
  border: none;
}
/* line 38, ../sass/pages/_insertionOrdersSearch.scss */
.Insertion-Orders-Search .campaign .tabs {
  width: 89.79592%;
  float: left;
  margin-right: 2.04082%;
  margin: 1rem 0 2rem 3rem;
}
/* line 41, ../sass/pages/_insertionOrdersSearch.scss */
.Insertion-Orders-Search .campaign .tabs a {
  color: #2A3137;
  padding: .5rem 1.5rem;
  float: left;
  margin-right: 1rem;
}
/* line 46, ../sass/pages/_insertionOrdersSearch.scss */
.Insertion-Orders-Search .campaign .tabs a.active, .Insertion-Orders-Search .campaign .tabs a:hover {
  background-color: #732b73;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "RobotoRegular", sans-serif;
  padding: .6rem 2rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
}
/* line 52, ../sass/pages/_insertionOrdersSearch.scss */
.Insertion-Orders-Search .saveExitBttn {
  background-color: #732b73;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "RobotoRegular", sans-serif;
  padding: .6rem 2rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
  margin-left: 1rem;
}
/* line 56, ../sass/pages/_insertionOrdersSearch.scss */
.Insertion-Orders-Search .insertionSearch {
  width: 94.89796%;
  float: left;
  margin-right: 2.04082%;
  padding: 0 1rem 2rem 3rem;
  max-width: 97%;
  margin-right: 0;
  float: left;
  clear: both;
}
/* line 63, ../sass/pages/_insertionOrdersSearch.scss */
.Insertion-Orders-Search .insertionSearch input[type="text"] {
  font-size: 13px;
  font-size: 1.3rem;
  float: left;
  padding: .5rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
  border: solid 1px #D4D9DB;
  float: left;
  width: 7rem;
  margin-right: 1rem;
}
/* line 72, ../sass/pages/_insertionOrdersSearch.scss */
.Insertion-Orders-Search .insertionSearch input[type="text"]:focus {
  outline: none;
  color: #b8c0c4;
}
/* line 76, ../sass/pages/_insertionOrdersSearch.scss */
.Insertion-Orders-Search .insertionSearch input[type="text"].categories {
  width: 14rem;
}
/* line 80, ../sass/pages/_insertionOrdersSearch.scss */
.Insertion-Orders-Search .insertionSearch button {
  background-color: #732b73;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "RobotoRegular", sans-serif;
  padding: .6rem 2rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
  border: none;
}
/* line 83, ../sass/pages/_insertionOrdersSearch.scss */
.Insertion-Orders-Search .insertionSearch button.reset {
  background: gray;
}
