.Campaign-Search {
  @include sidePanelPage();
  .campaignSearch {
    @include containerWithSidePanel();
    .tableHeader {
      background: $white;
      padding: 2rem 0;
      @include fontSize(1.3);
      color: #929292;
      @include span(1 of 1);
      margin: 0 0 0 1rem;
      font-family: $robotoR;
      border-bottom: solid 1px $tableGrayBorder;
      p, a {
        margin: 0;
        padding: .5rem 1.3rem .4rem 1.3rem;
        float: left;
        color: #929292;
        margin-right: 1rem;
        &:hover, &.active {
          background: $purple;
          color: $white;
          @include cornerRadius(2rem);
        }
      }
      p {
        color: $black;
        margin-left: 1rem;
      }
      .searchForm {
        @include searchForm();
      }
    }
    .tableFooter {
      background: $white;
      width: 100%;
      margin-left: 1.2rem;
      padding: 1rem 0;
      float: left;
      .navInfo {
        @include navInfo();

      }
      .navLinks {
        @include navLinks();

      }
    }
    table {
      float: left;
      width: 100%;
      margin-left: 1rem;
      padding: 0;
      border-spacing: 0;
      border-collapse: collapse;
      thead {
        th {
          @include purpleTh();
          a {
            color: $purple;
            @include fontSize(1.3);
            font-family: $robotoR;
            font-weight: 400;
          }
        }
      }

      tr {
        td {
          @include td();
          @include fontSize(1.35);
          padding-right: .3rem;
          a {
            color: $purple;
            @include fontSize(1.35);
          }
        }
        &:nth-child(even) {
          td {
            background: #f8f9fa;
          }
        }
      }
      th:last-child, td:last-child {
        width: 18%;
      }
    }
  }
}
.sideSearch{
  .menu {
    @include span(8.5 of 10);
    margin-bottom:2rem;
    select{
      @include span(4.5 of 10);
      padding:.5rem;
      margin-bottom:1rem;
    }
    input {
      @include span(1 of 1);
      margin-bottom: 1rem;
      @include cornerRadius(.3rem);
      padding: .5rem;
      border:none;
      &.toCPM, &.fromCPM{
        @include span(4 of 10);
      }
      &.fromCPM{
        clear:left;
      }
    }
  }
  a.search, a.reset {
    color:white;
    text-align: center;
    text-transform: uppercase;
    @include actionBttn($purple);
    @include fontSize(1.2);
    margin:0 .5rem .5rem 0;
    padding:.5rem;
    float:left;
    width:38%;
    &.reset{
      background:#464749;
    }
  }
}