.campaign {
  @extend .content;
  font-family: $robotoR;
  color: #2A3137;
  .tableHeader {
    padding: 4rem 0 3rem 0;
    @include span(1 of 1);
    border-bottom: solid .8px $tableGrayBorder;
    a {
      color: $purple;
      padding: 1rem 1.3rem;
      margin-right: 1rem;
      @include cornerRadius();
      &.active {
        background-color: $purple;
        color: $white;
      }
      &:first-child {
        margin-left: 3rem;
      }
    }
  }
  h1 {
    @include span(1 of 1);
    @include fontSize(1.6);
    font-family: $robotoR;
    font-weight: 400;
    float: left;
    padding: .5rem 0 .5rem 0;
    border-bottom: solid 2px $tableGrayBorder;
    margin-bottom: 0;
    span {
      float: left;
      padding-left: 4.5rem;
    }
    a {
      float: right !important;
      @include span(2 of 10);
      @include fontSize(1.4);
      text-align: right;
      padding: .5rem;
      margin-right: 4rem;
    }
  }
  table {
    @include span(1 of 1);
    border-spacing: 0;
    border-collapse: collapse;
    th {
      @include purpleTh();
    }
    tr {
      td {
        @include td();
        a{
          color: $purple;
        }
      }
      &:nth-child(even) {
        td {
          background: #f8f9fa;
        }
      }
    }
    th:last-child, td:last-child {
      width: 18%;
    }
  }
  .tableFooter {
    @include span(1 of 1);
    padding: 2rem 0 2rem 0;
    border-top: solid 1px $tableGrayBorder;
    a {
      float: right;
      &.exitBttn {
        @include actionBttn($redBttn);
      }
      &.continueBttn {
        @include actionBttn($greenBttn);
        margin-left: 1rem;
        margin-right: 2rem;
      }
    }
    .backBttn {
      float: left;
      margin-left: 3rem;
    }
  }
}

.creativesCreate {
  h1{
    border-bottom-width: 1px;
  }
  form {
    @include span(1 of 1);
    font-family: $robotoR;
    fieldset {
      padding: 3rem 0;
      border: none;
      &:first-child {
        border-bottom: solid 1px $tableGrayBorder;
      }
      label {
        @include span(2 of 10);
        float: left;
        clear: left;
        margin-left: 4rem;
        @include fontSize(1.4);
        &.orLabel{
          @include fontSize(1.8);
          margin-bottom:2rem;
        }
      }
      input[type="text"], textarea, input[type='file'] {
        @include span(7 of 10);
        float: left;
        @include border($tableGrayBorder);
        @include cornerRadius(.4rem);
        padding: 1rem;
        @include fontSize(1.4);
        font-family: $robotoR;
        margin-bottom: 1rem;
        &[type="text"], &[type="file"] {
          @include span(4 of 10);
        }
        &:focus{
          border-color:darken($tableGrayBorder, 20%);
        }
      }
      textarea{
        height:7rem;
      }
    }
  }
}
.campaignCreate{
  form{
    margin-top:2rem;
    @include span(1 of 1);
    fieldset{
      border:none;
      label{
        @include span(1 of 6);
        margin-right:3rem;
        float:left;
        &.campaignName{
          @include  span(2 of 6);
        }

        input, textarea, select{
          @include span(9 of 10);
          float:left;
          clear:left;
          padding:1rem;
          @include border($tableGrayBorder);
          @include cornerRadius(.5rem);
        }
        &:first-child{
          margin-left:3rem;
        }
      }
      &:last-child{
        label{
          @include span(9.3 of 10);
          textarea{
            clear:both;
            @include span(1 of 1);
          }
        }
      }
    }
  }
  .tableFooter{
    border:none;
    padding-top: .5rem;
  }
  .continueExitBttn{
    @include actionBttn($purple);
    margin-right:1.5rem;
  }
  .exitBttn{
    margin-right:3rem;
  }
}