.Foreign-Exchange-Add {
  .tableHeader {
    background: $white;
    padding: 2rem 0;
    @include fontSize(1.3);
    color: $black;
    @include span(1 of 1);
    margin: 1rem 0 0 0;
    font-family: $robotoR;
    border-bottom: solid 1px $tableGrayBorder;
    p {
      margin: 0;
      padding: .5rem 1.3rem .4rem 1.3rem;
      float: left;
      color: #929292;
      margin-right: 1rem;
    }
    a {
      color: $purple;
      font-weight: 700;
      &:hover {
        color: lighten($purple, 5%);
      }
      &.active {
        color: darken($purple, 10%);
      }
    }
  }
  table {
    float: left;
    width: 100%;
    //margin-left: 1rem;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    thead {
      th {
        @include purpleTh();
        a {
          color: $purple;
          @include fontSize(1.3);
          font-family: $robotoR;
          font-weight: 400;
        }
      }
    }

    tr {
      td {
        @include td();
        @include fontSize(1.35);
        padding-right: .3rem;
        input{
          @include cornerRadius(.3rem);
          padding:.5rem;
          @include border($tableGrayBorder);
        }
        .add {
          @include actionBttn($purple);
          color: $white;
          float: right;
          @include fontSize(1.2);
          margin-right: 1rem;
          padding: .5rem 1rem;
          @include cornerRadius(.3rem);
          width: 5rem;
          text-align: center;
          &:hover {
            background-color: lighten($purple, 5%);
          }
          &:active {
            background-color: darken($purple, 5%);
          }
        }
      }
      &:nth-child(even) {
        td {
          background: #f8f9fa;
        }
      }
    }
    th:last-child, td:last-child {
      width: 18%;
    }
  }
}