
.home {
  //padding: 2em;
  @include span(9 of 10);
  margin-left:8%;

  .column{
    @include span(1 of 4);
    margin:0 2rem 0 0;
    a{
      @include span(1 of 1);
      font-family: $robotoR;
      background:$white;
      @include fontSize(1.4);
      padding:2rem 0 1.8rem 1.2rem;
      background:url(../images/arrowRight-icon.png) no-repeat 96% center;
      background-size:auto 20%;
      background-color:$white;
      margin:0;
      &:nth-child(2n+2){
        background-color: #f8f9fa;
        border-bottom:solid 1px #dce0e2;
      }
      &:hover{
        background-color:lighten(#dce0e2, 9%);
        color:lighten($purple, 10%);
      }
    }
  }
}