.Insertion-Orders-Search {
  .campaign {
    .subMenu {
      float: left;
      width: 96%;
      padding: 0 2%;
      border-bottom: solid 1px $tableGrayBorder;
      a {
        float: left;
        padding: 1.5rem 1.5rem 1.3rem 1.5rem;
        color: #384047;
        margin: 0;
        border-bottom: solid .2rem $white;
        &.active, &:hover {
          border-bottom: solid 2px $purple;
        }
        &:hover {
          color: $purple;
        }
      }
      a:last-child, a.close {
        float: right;
        color: $purple;
        padding-top: 1.7rem;
        @include fontSize(1.35);
        border: none;
        &:hover {

        }
      }
    }
    h1 {
      color: $purple;
      @include span(9 of 10);
      margin: 2rem 0 1rem 3rem;
      border: none;
    }
    .tabs {
      @include span(9 of 10);
      margin: 1rem 0 2rem 3rem;
      a {
        color: $textColor;
        padding: .5rem 1.5rem;
        float: left;
        margin-right: 1rem;
        &.active, &:hover {
          @include actionBttn($purple);
        }
      }
    }
  }
  .saveExitBttn {
    @include actionBttn($purple);
    margin-left: 1rem;
  }
  .insertionSearch{
    @include span(9.5 of 10);
    padding:0 1rem 2rem 3rem;
    max-width: 97%;
    margin-right:0;
    float:left;
    clear:both;
    input[type="text"]{
      @include fontSize(1.3);
      float:left;
      padding:.5rem;
      @include cornerRadius();
      @include border($tableGrayBorder);
      float:left;
      width:7rem;
      margin-right:1rem;
      &:focus{
        outline: none;
        color:darken($tableGrayBorder, 10%);
      }
      &.categories{
        width:14rem;
      }
    }
    button{
      @include actionBttn($purple);
      border:none;
      &.reset{
        background: gray;
      }
    }
  }
}