.Insertion-Orders-Reserve {
  .subMenu {
    float: left;
    width: 96%;
    padding: 0 2%;
    border-bottom: solid 1px $tableGrayBorder;
    a {
      float: left;
      padding: 1.5rem 1.5rem 1.3rem 1.5rem;
      color: #384047;
      margin: 0;
      border-bottom: solid .2rem $white;
      &.active, &:hover {
        border-bottom: solid 2px $purple;
      }
      &:hover {
        color: $purple;
      }
    }
    a:last-child, a.close {
      float: right;
      color: $purple;
      padding-top: 1.7rem;
      @include fontSize(1.35);
      border: none;
      &:hover {

      }
    }
  }
  h1 {
    color: $purple;
    @include span(9 of 10);
    margin: 2rem 0 1rem 3rem;
    border: none;
  }
  table {
    padding: 0;
    margin: 0;
    tr {
      td, th {
        padding: 1rem .5rem 1rem .8rem !important;
        text-align: left;
        min-width: 6rem;
        @include fontSize(1.35);
        &:first-child {
          padding-left: 2rem !important;
        }
      }
    }
  }
  .campaignNotes {
    @include span(1 of 1);
    overflow: hidden;
    h2 {
      @include span(1 of 1);
      background: #f8f4f8;
      color: $purple;
      padding: 1.5rem 3rem;
      text-transform: uppercase;
      margin: 3rem 0 1.5rem 0;
      @include fontSize(1.3);
    }
    p {
      @include span(9.5 of 10);
      margin: 1rem 3rem 3rem 3rem;
      @include fontSize(1.4);
      min-height:8rem;
    }
  }
}