.Insertion-Orders {
  .campaign {
    .subMenu {
      float: left;
      width: 96%;
      padding:0 2%;
      border-bottom: solid 1px $tableGrayBorder;
      a {
        float: left;
        padding: 1.5rem 1.5rem 1.3rem 1.5rem;
        color: #384047;
        margin: 0;
        border-bottom: solid .2rem $white;
        &.active, &:hover {
          border-bottom: solid 2px $purple;
        }
        &:hover{
          color:$purple;
        }
      }
      a:last-child, a.close {
        float: right;
        color: $purple;
        padding-top:1.7rem;
        @include fontSize(1.35);
        border:none;
        &:hover{

        }
      }
    }
    h1 {
      color: $purple;
      @include span(9 of 10);
      margin:2rem 0 1rem 3rem;
      border:none;
    }
.tabs{
  @include span(9 of 10);
  margin:1rem 0 2rem 3rem;
  a{
    color:$textColor;
    padding:.5rem 1.5rem;
    float:left;
    margin-right:1rem;
    &.active, &:hover{
      @include actionBttn($purple);
    }
  }
}
  }
  .saveExitBttn{
    @include actionBttn($purple);
    margin-left:1rem;
  }
}