.login-wrapper{
  @include container(460px);

  margin: 10% auto 0 auto;

  .logoContent{
    @include span(1 of 1);
    background:$white;
    @include cornerRadius();
    @include bottomShadow(1px, 8px, 3px, rgba(0, 0, 0, .07));
    img {
      margin: 2em auto 1em 37%;
      width: 25%;
    }
    form {
      @include span(7 of 10);
      margin-left: 15%;
      h1 {
        @include fontSize(1.8);
        font-weight: 300;
        margin: 1em 0 .6em 0;
        font-family: $robotoR;
        padding: 0;
      }
      label {
        //@extend .one-whole;
        margin-left: 0;
        padding: 0 0 1em 0;
        @include span(1 of 1);
        input[type="text"], input[type="password"] {
          @include inputField();
        }
        &.rememberMe {
          cursor: pointer;
          font-family: $robotoR;
          @include fontSize(1.4);
          input {
            margin-right: .5em;
            margin-left: .2em;
            position: relative;
            top: .1em;
            float: left;
          }
        }
      }
      button {
        @include bttn($purple);
      }
    }
  }
}

.errorMessage {
  color: $errorColor;
  @include fontSize(1.5);
  font-family: $robotoR;
  i {
    width: 1.5em;
    line-height: 1.5em;
    float: left;
    margin:0.1em .5em 0 .2em;
    overflow: hidden;
    @include fontSize(1.4);
  }
}