/**
* Global elements
*/
#header {
  @include span(1 of 1);
  $headerHeight: 5rem;
  background: #fff;
  border-bottom: $grayBorder;
  float: left;
  margin: 0 0 1rem 0;
  padding: 0;
  //padding: 1em 1.5em 1em 1em;
  a.logo {
    @include span(2 of 10);
    @include backImage("logo-icon.png");
    background-size: auto 80%;
    text-indent: -100rem;
    float: left;
    overflow: hidden;
    height: $headerHeight;
    border-right: $grayBorder;
    padding: 1.5rem 1.5rem 1.5rem 1rem;
  }
  .pageTitle {
    height: $headerHeight;
    @include span(4 of 10);
    margin: 0;
    h1 {
      font-family: $robotoR;
      @include fontSize(1.8);
      font-weight: 400;
      margin: $headerHeight*.6 0 0 0;
      a {
        color: $gray;
        @include fontSize(1.4);
        font-family: $robotoR;
      }
    }
  }
  .contentMenu {
    @include span(3 of 10);
    float: right;
    height: $headerHeight;
    padding-top: $headerHeight / 1.5;
    text-align: right;
    font-family: $bariolR;
    a {
      color: $gray;
      float: right;
      min-width: 3rem;
      margin-left: .5rem;
      overflow: hidden;
      &.menuItem, .bellItem, .starItem {
        @include backImage("menu-icon.png");
        text-indent: -100em !important;
        background-position: 1.5rem center;
      }
      &.starItem {
        @include backImage("star-icon.png");
        background-position: 1.5rem center;
      }
      &.bellItem {
        @include backImage("bell-icon.png");
        background-position: 1.5rem center;
      }
      &.avatar {
        @include cornerRadius(50%);
        height: 4rem;
        width: 4rem;
        float: right;
        position: relative;
        top: -1rem;
        margin-left: .8rem;
        @include border(#d8dde3, 2px);
        background-position: center center;
        img {
          height: 100%;
        }
      }
      &.welcomeMsg, &.menuItem, &.starItem, &.bellItem {
        padding: .5rem .4rem .5rem 1.2rem;
        margin-top: -.5rem;
        &:hover {
          background-color: $lightGray;
          @include cornerRadius(5rem);

        }
        span {
          float: left;
          min-width: 2rem;
          position: relative;
          left: -.5rem;
        }
        i {
          float: left;
          background: url(../images/grayArrow@2x.png) no-repeat center center;
          background-size: auto 100%;
          float: left;
          width: 1rem;
          height: 1rem;
          margin-top: 1rem;
          height: .8rem;
          margin-right: .5rem;
        }
      }
      &.menuItem, &.starItem, &.bellItem {
        padding-left: 0 !important;
        i {
          margin-left: 2rem;
        }
      }
    }
    .userProfile, .campaignsDropDown, .messagesDropDown {
      position: absolute;
      top: 8rem;
      right: 8rem;
      width: 14rem;
      background: white;
      overflow: hidden;
      @include cornerRadius();
      @include box-shadow(.2rem, 0rem, .8rem, rgba(0, 0, 0, .5));
      a {
        padding: .8rem .8rem .8rem 1rem;
        @include fontSize(1.4);
        text-align: left;
        float: left;
        width: 100%;
        margin: 0;
        color: $black;
        i {
          background-image: url(../images/menuIcons.png);
          background-repeat: no-repeat;
          background-position: .1rem -2.6rem;
          background-size: 1.5rem auto;
          width: 2rem;
          height: 2rem;
          float: left;
          margin-right: .5rem;
          margin-top: .2rem;
        }

        &:first-child {
          i {
            background-position: left top;
          }
        }
        &:last-child {
          border-top: solid 1px $mainGray;
          i {
            background-position: .4rem -4.9rem;
          }
        }
        &:hover {
          background-color: $purple;
          color: white;
        }
      }
      &.campaignsDropDown {
        right: 10rem;
        width: 30rem;
        a {
          padding-left: 1rem;
          width: 100%;
          padding-top: .5rem;
          padding-bottom: .5rem;
          margin: 0;
          &:last-child {
            text-align: center;
            font-weight: 700;
            padding: 1rem 0;
            margin-top: .5rem;
          }
        }
      }
      &.messagesDropDown{
        width:35rem;
        right:25rem;
        a {
          width: 100%;
          padding-top: .5rem;
          padding-bottom: .5rem;
          margin: 0;
          i{
            width:1.8rem;
            background-image:url(../images/messageIcons.png);
            background-size:100% auto;
            margin-right:1rem;
          }
          span{
            float:right!important;
            color: darken($mainGray, 20%);
            @include fontSize(1.2);
            margin-right:2.5rem;
            position:relative;
            top:.5rem;
          }
          &:last-child {
            text-align: center;
            font-weight: 700;
            padding: 1rem 0;
            margin-top: .5rem;
          }
        }
      }
    }
    .favouritesDropDown {
      background: white;
      text-align: left;
      position: absolute;
      right: 27rem;
      top: 7rem;
      min-width: 45rem;
      @include cornerRadius();
      @include box-shadow(.2rem, 0rem, .8rem, rgba(0, 0, 0, .5));
      h3 {
        @include fontSize(1.5);
        padding: .7rem 1rem .5rem 1.5rem;
        margin: 0;
        border-bottom: solid 1px $mainGray;
      }
      table {
        padding: 1rem;
        width: 100%;
        th {
          @include fontSize(1.4);
        }
        td {
          @include fontSize(1.4);
          border-spacing: .2rem;
        }
        a {
          font-weight: 700;
          color: $purple;
        }
      }
      a.viewAll {
        text-align: center;
        padding: 1rem 0;
        width: 100%;
        float: left;
        color: black;
        border-top: solid 1px $mainGray;
        margin: 0;
        font-weight: 700;
      }
    }
  }
}