@font-face {
  font-family: 'Bariol R';
  src: url('../fonts/bariol/Bariol_Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bariol/Bariol_.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Bariol/bariol_Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Bariol/bariol_Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Bariol/bariol_Regular.svg#4aeabe0f77e25172918f03c0cd8383cd') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot');
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
  url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
  url('../fonts/roboto/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/roboto/Roboto-Medium-webfont.eot');
  src: url('../fonts/roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Medium-webfont.woff') format('woff'),
  url('../fonts/roboto/Roboto-Medium-webfont.ttf') format('truetype'),
  url('../fonts/roboto/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLT Std Lt';
  src: url('../fonts/helvetica/HelveticaNeueLTStd-Lt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/helvetica/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/helvetica/HelveticaNeueLTStd-Lt.woff') format('woff'), /* Modern Browsers */
  url('../fonts/helvetica/HelveticaNeueLTStd-Lt.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/helvetica/HelveticaNeueLTStd-Lt.svg#ab53f55f9c010d958855493bf21fef17') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Helvetica 65 Medium';
  src: url('../fonts/helvetica/HelveticaNeue-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/helvetica/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/helvetica/HelveticaNeue-Medium.woff') format('woff'), /* Modern Browsers */
  url('../fonts/helvetica/HelveticaNeue-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/helvetica/HelveticaNeue-Medium.svg#d7af0fd9278f330eed98b60dddea7bd6') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";


