//------------------------------------//
//  $MIXINS
//------------------------------------//

// Micro clearfix, as per: nicolasgallagher.com/micro-clearfix-hack
@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

// Clear grid floats
@mixin n-up($number) {
  &:nth-child(#{$number}n + 1) {
    clear: left;
  }
}

// Clear grid float clears
@mixin clear-n-up($number) {
  &:nth-child(#{$number}n + 1) {
    clear: none;
  }
}

@mixin inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

// Image replacement
@mixin hide-text {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@mixin cornerRadius($radius: 5px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius; /* future proofing */
  -khtml-border-radius: $radius; /* for old Konqueror browsers */
}

@mixin bottomShadow($left: 8px, $center: 6px, $right: 6px, $color: black) {
  -webkit-box-shadow: 0 $left $center $right $color;
  -moz-box-shadow: 0 $left $center $right $color;
  box-shadow: 0 $left $center $right $color;
}

@mixin inputField() {
  outline: none;
  @include span(9.3 of 10);
  border: $grayBorder;
  @include fontSize(1.4);
  padding: 1em 1rem .8em 1rem;
  @include cornerRadius(3px);
  font-family: $robotoR !important;
  &:focus {
    border-width: 2px;
  }
  &.error {
    @include placeholder();
    color: $errorColor;
  }
}

@mixin actionBttn($color:$gray) {
  background-color: $color;
  color: $white;
  @include fontSize(1.5);
  font-family: $robotoR;
  padding: .6rem 2rem;
  @include cornerRadius();
}

@mixin bttn($color:$purple) {
  @include span(1 of 1);
  background-color: $color;
  margin-bottom: 3em;
  border: $grayBorder;
  color: white;
  font-family: $robotoR;
  @include cornerRadius(3px);
  padding: 1.3rem 0;
  text-transform: uppercase;
  @include fontSize(1.6);
}

// Text overflow
// Requires inline-block or block for proper styling
@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// WebKit-style focus
@mixin tab-focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Placeholder text
@mixin placeholder {
  &:-moz-placeholder {
    @content;
  }
  // Firefox 4-18
  &::-moz-placeholder {
    opacity: 1;
    @content;
  }
  // Firefox 19+
  &:-ms-input-placeholder {
    @content;
  }
  // Internet Explorer 10+
  &::-webkit-input-placeholder {
    @content;
  }
  // Safari and Chrome
}

// Form validation states
@mixin form-control-validation($text-color: $gray-dark, $border-color: $gray) {
  label,
  .radio,
  .checkbox {
    color: $text-color;
  }

  .form-control {
    border-color: $border-color;

    &:focus {
      border-color: darken($border-color, 10%);
      @include box-shadow(0 0 6px lighten($border-color, 20%));
    }
  }
}

// Form control focus state, based on WebKit's default styles
@mixin form-control-focus($color: #66afe9) {
  $color-rgba: rgba(red($color), green($color), blue($color), .6);

  &:focus {
    border-color: $color;
    outline: 0;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $color-rgba);
  }
}

// ***************************************************************************
// Rem conversion mixin
//
// Converts values to rems for any property passed to it. If optional
// $fallback is provided, it returns two lines of code: first with the pixel
// values for non-rem support and a second with the converted rem values.
// This is necessary for IE9/10 when used with psuedo elements or font
// shorthand property. Possible $fallback values are $base-font-size or
// $base-font-size--mobile. This mixin returns just the pixel values to the
// legacy IE CSS file.
//
// USAGE:
//
// .element {
//    @include rem(padding, 4 0 2 1);
//    @include rem(font-size, 2, $base-font-size);
// }
//
// OUTPUT:
//
// .element {
//    padding: 4rem 0 2rem 1rem;
//    font-size: 32px;
//    font-size: 2rem;
// }
//
// OUTPUT TO LEGACY CSS:
//
// .element {
//    padding: 64px 0 32px 16px;
//    font-size: 32px;
// }
//
// ***************************************************************************

$baseFontSize: 10;
// Based on HTML reset html { font-size: 62.5%; }

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px: ();
  $rem: ();

  $root: $baseFontSize;

  @each $value in $values {
    @if $value == 0 or $value == auto {
      $px: append($px, $value);
      $rem: append($rem, $value);
    } @else if type-of($value) == number {
      $unit: unit($value);
      $val: parseInt($value);

      @if $unit == "px" {
        $px: append($px, $value);
        $rem: append($rem, ($val / $root + rem));
      }

      @if $unit == "rem" {
        $px: append($px, ($val * $root + px));
        $rem: append($rem, $value);
      }
    } @else {
      $px: append($px, $value);
      $rem: append($rem, $value);
    }
  }

  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}

@function rem($value) {
  $root: $baseFontSize;
  $val: parseInt($value);
  $return: ();

  @if unit($value) == "px" {
    $return: append($return, ($val / $root + rem));
  } @else {
    $return: append($return, ($val * $root + px));
  }

  @return $return;
}

// ***************************************************************************
// Retina images mixin
//
// via http://37signals.com/svn/posts/3271-easy-retina-ready-images-using-scss
// modified to calculate image dimensions automatically
//
// USAGE:
//
// .logo {
//    background: image-url("logo_32x32.png") no-repeat;
//    @include image-2x("logo_32x32@2x.png", 64px, 64px);
// }
//
// OR
//
// .logo {
//    background: image-url("logo_32x32.png") no-repeat;
//    @include image-2x("logo_32x32@2x.png"); // no dimensions passed in
// }
//
// If dimensions are omitted, the mixin will try to guess them using
// image-width and image-height helpers. This only works if compass can find
// the image file locally, however.
//
// ***************************************************************************

@mixin image-2x($image, $width:"", $height:"") {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    // on retina, use image that is scaled by 2
    background-image: url($image);

    @if $width != "" {
      // dimensions ARE passed in, use them
      @include background-size($width $height);
    } @else {
      // dimensions NOT passed in, try to calculate them automatically
      @include background-size(floor(image-width($image)/2) floor(image-height($image)/2));
    }
  }
}

// ***************************************************************************
// Media query mixin
//
// All styles w/o a media-query are assumed to be base, mobile-first styles.
// All styling "up" from that should be done in media queries.
//
// Our options are:
//
// hand-and-up    -  bigger-than-phone and up
// lap-and-up     -  laptops and up
// desk-and-up    -  desktops and up
// wall-and-up    -  widescreen desktops and up
// below-lap      -  smaller than laptops
// below-hand     -  isolates phones
//
// Without one of these parameters the mixin will accept a custom media query.
//
// ***************************************************************************

@mixin media-query($media-query) {

  @if $legacy-ie == true {
    // render styles without media queries

    @if $media-query == "hand-and-up" {
      @content;
    } @else if $media-query == "lap-and-up" {
      @content;
    } @else if $media-query == "desk-and-up" {
      @content;
    } @else if $media-query == "wall-and-up" {
    } @else if $media-query == "below-desk" {
    } @else if $media-query == "below-lap" {
    } @else if $media-query == "below-hand" {
    }

      // include custom breakpoints
    @else {
      @content;
    }

    // Not legacy-ie
  } @else {
    // render styles without media queries if those breakpoints are false

    @if $media-query == "hand-and-up" {
      @if $hand-start != false {
        @media only screen and (min-width: $hand-start) {
          @content;
        }
      } @else {
        @content;
      }
    } @else if $media-query == "lap-and-up" {
      @if $lap-start != false {
        @media only screen and (min-width: $lap-start) {
          @content;
        }
      } @else {
        @content;
      }
    } @else if $media-query == "desk-and-up" {
      @if $desk-start != false {
        @media only screen and (min-width: $desk-start) {
          @content;
        }
      } @else {
        @content;
      }
    } @else if $media-query == "wall-and-up" {
      @if $wall-start != false {
        @media only screen and (min-width: $wall-start) {
          @content;
        }
      } @else {
        @content;
      }
    } @else if $media-query == "below-desk" {
      @if $desk-start != false {
        @media only screen and (max-width: ($desk-start - 1px)) {
          @content;
        }
      } @else {
      }
    } @else if $media-query == "below-lap" {
      @if $lap-start != false {
        @media only screen and (max-width: ($lap-start - 1px)) {
          @content;
        }
      } @else {
      }
    } @else if $media-query == "below-hand" {
      @if $hand-start != false {
        @media only screen and (max-width: ($hand-start - 1px)) {
          @content;
        }
      } @else {
      }
    }

      // custom breakpoints
    @else {
      @media only screen and ($media-query) {
        @content;
      }
    }
  }
}

@mixin fontSize($fontSize: 1.2) {
  font-size: ($fontSize * 10) + px;
  font-size: $fontSize + rem;
}

@mixin border($color:red, $size:1px) {
  border: solid $size $color;
}

@mixin backImage($image) {
  background: url("../images/#{$image}") no-repeat center center;
}

@mixin searchForm() {
  float: right;
  width: 200px;
  margin-right: 1.5rem;
  background: #E7ECEE;
  @include cornerRadius();
  input, button {
    width: 72%;
    margin: 0;
    padding: 0;
    float: left;
    border: none;
    @include fontSize(1.4);
    background: transparent;
    padding: .5rem 1rem;
  }
  button {
    width: 18%;
    padding: .4rem 1rem .4rem .8rem;
    float: right;
  }
}

@mixin purpleTh() {
  background: #f8f4f8;
  font-weight: 300;
  color: $purple;
  background: $pink;
  padding: 2rem 0 2rem 4rem;
  text-align: left;
  @include fontSize(1.4);
  font-family: $robotoR;
  text-transform: uppercase;
}

@mixin td() {
  padding: 1.5rem 0 1.5rem 4rem;
  border-bottom: solid 1px $tableGrayBorder;
  @include fontSize(1.4);
  font-family: $robotoR;
  background: $white;
  color: #384047;
}

@mixin navInfo() {
  float: left;
  max-width: 35%;

  margin-left: 3rem;
  font-family: $robotoR;
  @include fontSize(1.3);
  color: #a3a3a3;
}

@mixin navLinks() {
  float: right;
  width: 65%;
  margin-right: 1rem;
  font-family: $robotoR;
  @include fontSize(1.3);
  p {
    float: right;
    width: 15%;
    text-align: right;
    padding: 0;
    margin: 1rem .5rem 0 0;
    color: #a3a3a3;
  }
  .links {
    float: right;
    max-width: 75%;
    margin: .7rem 1rem 0 0;
    a {
      padding: .3rem 1rem .2rem 1rem;
      float: left;
      &:hover, &.active {
        background: #58595b;
        color: $white;
        @include cornerRadius(2rem);
      }
    }
  }
}
@mixin containerWithSidePanel(){
  background: $pageBackground;
  @include span(7.8 of 10);
  padding: 2rem 0 0 2rem;
  margin: 0;
  float: right!important;
}
@mixin sidePanelPage(){
  background: $sidePanelBack;
  @include span(1 of 1);
  margin: -1rem 1rem 0 0;
  padding: 0;
}

@mixin box-shadow($top: .2rem, $left:0, $blur:.3rem, $color:rgba(0,0,0,4), $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $left $top $blur $color;
    -moz-box-shadow:inset $left $top $blur $color;
    box-shadow:inset $left $top $blur $color;
  } @else {
    -webkit-box-shadow: $left $top $blur $color;
    -moz-box-shadow: $left $top $blur $color;
    box-shadow: $left $top $blur $color;
  }
}