/* $rembase = 10px */
html {
  font-size: 62.5%;
  background: $pageBackground;
  padding: 0;
  margin: 0;
  body {
    //font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px; //fallback
    font-size: 1.6rem;
    line-height: 1.625;
    //@include container(80em);
    padding: 0;
    margin: 0;
  }
}

a {
  outline: none;
  text-decoration: none;
}

input[type="text"], input[type="password"] {
  outline: none;
}

@import "../ui/header";

//page content wrapper
.site-wrapper {
  @include container(96%);
  .content {
    background: #fff;
    @include span(1 of 1);
  }
}

//action bttns
.backBttn {
  @include actionBttn(#878787);
}

.exitBttn {

}

.continueBttn {

}

.sidepanel {
  @include span(2 of 10);
  float: left;
  margin: 0;
  padding: 1rem 0 1rem 1.5rem;
  color: $white;
  .header {
    padding-top: 4rem;
    h2 {
      @include span(3 of 10);
      @include fontSize(1.5);
      font-family: $robotoR;

    }
    h3 {
      font-weight: 300;
      font-family: $robotoR;
      @include fontSize(1.4);
      i.fa {
        float: right;
        margin-right: 1rem;
      }
    }
    a {
      background: $white;
      color: $gray;
      padding: .4rem .8rem .3rem .8rem;
      font-family: $robotoR;
      @include span(2 of 10);
      float: right;
      @include cornerRadius();
      @include fontSize(1.2);
      text-align: center;
      margin-top: 1rem;
      font-weight: 300;
    }
  }
  .menu {

    width: 100%;
    float: left;
    margin-top: 2rem;

    a.link {
      margin-bottom: 1rem;
      color: $white;
      font-family: $robotoR;
      @include fontSize(1.4);
      float: left;
      @include span(8.5 of 10);
      clear: both;
    }
    a.edit {
      float: right;
      @include span(1 of 10);
      color: $white;
      margin: 0;
    }
  }
}

.infoMessage {
  @include span(1 of 1);
  margin: 0 0 1.5rem 1rem;
  @include cornerRadius();
  font-family: $robotoR;
  .fa {
    //height:3rem;
    //width:3rem;
    font-size: 3rem;
    font-weight: 300;
    float: left;
    margin: 2.2rem 1rem 0 1.5rem;
  }
  p {
    float: left;
    @include fontSize(1.5);
    strong {
      float: left;
    }
  }
  a {
    @include fontSize(1.3);
    float: left;
    font-family: $robotoR;
    clear: left;
  }
}

.success {
  background-color: $successColor;
  color: $successTextColor;
  a {
    color: $successTextColor;
  }
}

.orderArrows {
  span {
    float: left;
  }
  i {
    background-image: url("../images/orderArrows@2x.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top left;
    float: left;
    width: 1rem;
    height: 1.5rem;
    position: relative;
    top: .3rem;
    margin-left: 1rem;
  }
  &.orderAZ i {
    background-position: top right;
  }
  &.orderZA i {
    background-position: top center;
  }
}