//------------------------------------//
//  $VARIABLES
//------------------------------------//

// Colors
$pageBackground: #ecf0f1;

$black: #000000;
$gray-dark: #4c4c4c;
$gray: #95a5a6;
$gray-light: #d8dde3;
$white: #fff;

$purple: #732b73;
$pink: #F6F1F6;
$mainGray:#dce0e2;
$lightGray:#ecf0f1;

$primary: #203c7b;
// dark blue
$secondary: #0084cb;
// light blue
$tertiary: #4f2683;
// purple
$quaternary: #fff5a9;
// yellow
// quinary, senary, septenary, octonary, nonary, denary

$sidePanelBack: #58595b;
// Form validation colors
$state-success: #468847;
$state-error: #b94a48;

$successColor: #c4e8ae;
$successTextColor: #56a029;
$editColor: #5cb85c;
$unlockColor: #207320;

$deleteColor: #d9534f;

//main settings
$grayBorder: solid 1px #d4d8d8;
$errorColor: #df0720;

//table colors
$tableGrayBorder: #D4D9DB;

//action buttons
$greenBttn: #4AAF46;
$redBttn:   #D03B3B;

$textColor: #2A3137;
// Fonts
@import "fonts";
$font-body: "HelveticaNeueLT Std Lt", "Helvetica", sans-serif;
$font-accent: "Helvetica 65 Medium", "Helvetica", sans-serif;
$bariolR: "Bariol R", "Helvetica", sans-serif;
$robotoR: "RobotoRegular", sans-serif;
$robotoM: "RobotoMedium", sans-serif;
