{% extends 'layouts/master.twig' %}
{% block content %}
    <div class="tableHeader">
        <p><a href="#">Addministration</a> / <a href="{{ root }}foreign">Foreign Exchange</a> / Add</p>
    </div>
    <table>
        <thead>
        <tr>
            <th><a href="#">From Currency</a></th>
            <th><a href="#">To Currency</a></th>
            <th><a href="#">From Date</a></th>
            <th><a href="#">From Value</a></th>
            <th><a href="#">To Value</a></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <select name="" id="">
                    <option value="" selected>Please Select</option>
                    <option value="">GBP</option>
                    <option value="">USD</option>
                    <option value="">EUR</option>
                </select>
            </td>
            <td>
                <select name="" id="">
                    <option value="">Please Select</option>
                    <option value="">GBP</option>
                    <option value="">USD</option>
                    <option value="">EUR</option>
                </select>
            </td>
            <td><input type="date" name="fromDate"/></td>
            <td>
                <input type="text" name="fromCurrency" id=""/>
            </td>
            <td>
                <input type="text" name="toCurrency" id=""/>
            </td>
            <td class="edit">
                <a href="#" class="add">Add</a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}