{% extends 'layouts/master.twig' %}
{% block content %}
    <div class="sidepanel sideSearch">
        <div class="header">
            <h3>Search for sites
                <i class="fa fa-search"></i>
            </h3>
            {#<a href="#">ADD</a>#}
        </div>
        <div class="menu">
            <input type="text" name="" id="" placeholder="Country..."/>
            <input type="text" name="" id="" placeholder="Tagline..."/>
            <input type="text" name="" id="" placeholder="Sites..."/>
            <input type="text" name="" id="" placeholder="Content Categories..."/>
            <input type="text" name="" id="" placeholder="Content Sub Categories..."/>
            <input type="text" name="" id="" placeholder="Content Variants..."/>
            <select name="" id="">
                <option value="gbp">GBP</option>
            </select>
            <input type="text" name="" class="fromCPM" id="" placeholder="From CPM..."/>
            <input type="text" name="" id="" class="toCPM" placeholder="To CPM..."/>
        </div>
        <a href="#" class="search">Search</a>
        <a href="#" class="reset">Reset</a>
    </div>
    <section class="campaignSearch">
        <div class="infoMessage success">
            <i class="fa fa-check-circle"></i>
            <p>
                <strong>Some Success Message</strong>
                <a href="#">Some success link</a>
            </p>

        </div>
        <div class="tableHeader">
            <p>View</p>
            <a href="#">10</a>
            <a href="#" class="active">20</a>
            <a href="#">50</a>
            <a href="#">100</a>

            <form action="" class="searchForm">
                <input type="text" name="search" id="search" placeholder="Search"/>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <table>
            <thead>
            <tr>
                <th><a href="#" class="orderArrows orderAZ"><span>Site</span> <i></i></a></th>
                <th><a href="#" class="orderArrows "><span>Description</span> <i></i></a></th>
                <th><a href="#" class="orderArrows "><span>&nbsp;</span><i></i></a></th>
                <th><a href="#" class="orderArrows "><span>Placement</span> <i></i></a></th>
                <th><a href="#" class="orderArrows "><span>Rates</span> <i></i></a></th>
                <th><a href="#" class="orderArrows "><span>Actions</span> <i></i></a></th>
                <th><a href="#" class="orderArrows orderZA"><span>Campaign</span> <i></i></a></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..10 %}
                <tr>
                    <td>Site A</td>
                    <td>Site A Description</td>
                    <td><a href="#">More</a></td>
                    <td>Homepage - 300x250 Upper</td>
                    <td>$20 CPM</td>
                    <td><a href="#">Start with New Campaign</a></td>
                    <td><a href="#">Campaign</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="tableFooter">
            <p class="navInfo">
                Showing  results 1-10 of 44
            </p>

            <div class="navLinks">
                <div class="links">
                    <a href="">1</a>
                    <a href="">2</a>
                    <a href="" class="active">3</a>
                    <a href=""></a>
                </div>
                <p>Page</p>
            </div>
        </div>
    </section>

{% endblock %}