{% extends 'layouts/master.twig' %}
{% block content %}

    <section class="campaign campaignCreate">
        <div class="tableHeader">
            <a href="#">Campaign</a>
            <a href="#" class="active">Creatives</a>
            <a href="#">Insertion Orders</a>
            <a href="#">Review &amp; Send</a>
        </div>

        <form action="" method="post">
            <fieldset>
                <label for="" class="currency">
                    Curency
                    <select name="" id="">
                        <option value="">GBP</option>
                    </select>
                </label>
                <label for="" class="campaignName">Campaign Name
                    <input type="text" />
                </label>
                <label for="" class="startDate">Start Date
                    <input type="text" />
                </label>
                <label for="" class="endGame">End Date
                    <input type="text" />
                </label>
            </fieldset>
            <fieldset>
                <label for="" class="notes">
                    Notes
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </label>
            </fieldset>
        </form>
        <div class="tableFooter">
            <a href="#" class="exitBttn">Cancel</a>
            <a href="#" class="continueExitBttn">Save &amp; Exit</a>
            <a href="#" class="continueBttn">Save &amp; Exit</a>
        </div>
    </section>

{% endblock %}