{% extends 'layouts/master.twig' %}
{% block content %}

    <section class="campaign">
        <div class="tableHeader">
            <a href="#">Campaign</a>
            <a href="#" class="active">Creatives</a>
            <a href="#">Insertion Orders</a>
            <a href="#">Review &amp; Send</a>
        </div>
        <h1><span>Creatives</span>
            <a href="#">Add Creatives</a>
        </h1>

        <table>
            <thead>
            <tr>
                <th>Status</th>
                <th>End date</th>
                <th>Creative</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..10  %}
                <tr>
                    <td>Creative One</td>
                    <td>300x250</td>
                    <td><a href="#">Creative One</a></td>
                    <td><a href="#">Edit</a> | <a href="">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="tableFooter">
            <a href="#" class="backBttn">Back</a>
            <a href="#" class="continueBttn">Continue</a>
            <a href="#" class="exitBttn">Exit</a>
        </div>
    </section>

{% endblock %}