{% extends 'layouts/master.twig' %}
{% block content %}

    <section class="campaign creativesCreate">
        <div class="tableHeader">
            <a href="#" >Campaign</a>
            <a href="#" class="active">Creatives</a>
            <a href="#">Insertion Orders</a>
            <a href="#">Review &amp; Send</a>
        </div>
        <h1><span>Creatives</span>
            <a href="#">Close Creatives</a>
        </h1>

        <form action="" method="post">
            <fieldset>
                <label for="">Creative Name</label>
                <input type="text" name="" id=""/>
                <label for="">Start Date</label>
                <input type="file" name="" id="" placeholder=" No file selected.."/>
                <label for="">Add Tracker for Impressions</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <label for="">Add Tracker for clicks</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </fieldset>
            <fieldset>
                <label class="orLabel">OR</label>
                <label for="">Insert Tag</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </fieldset>
        </form>
        <div class="tableFooter">
            <a href="#" class="continueBttn">Save</a>
            <a href="#" class="exitBttn">Cancel</a>
        </div>
    </section>

{% endblock %}