{% extends 'layouts/master.twig' %}
{% block content %}
    <div class="sidepanel">
        <div class="header">
            <h2>Favourites</h2>
            <a href="#">ADD</a>
        </div>
        <div class="menu">
            {% for i in 1..6 %}
                <a href="#" class="link">
                    <i class="fa fa-folder"></i>
                    Favourite folder 1
                    <a href="" class="edit"><i class="fa fa-pencil"></i>
                    </a>
                </a>
            {% endfor %}
        </div>
    </div>
    <section class="favourites">

        <div class="tableHeader">
            <p>View</p>
            <a href="#">10</a>
            <a href="#" class="active">20</a>
            <a href="#">50</a>
            <a href="#">100</a>

            <form action="" class="searchForm">
                <input type="text" name="search" id="search" placeholder="Search"/>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <table>
            <thead>
            <tr>
                <th><a href="#" class="orderArrows"><span>Site</span> <i></i></a></th>
                <th><a href="#" class="orderArrows"><span>Description</span> <i></i></a></th>
                <th><a href="#" class="orderArrows"><span>&nbsp;</span> <i></i></a></th>
                <th><a href="#" class="orderArrows"><span>Placement</span> <i></i></a></th>
                <th><a href="#" class="orderArrows"><span>Rates</span> <i></i></a></th>
                <th><a href="#" class="orderArrows"><span>Actions</span> <i></i></a></th>
                <th><a href="#" class="orderArrows"><span>Campaign</span> <i></i></a></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..10 %}
                <tr>
                    <td>Site A</td>
                    <td>Site A Description</td>
                    <td><a href="#">More</a></td>
                    <td>Homepage - 300x250 Upper</td>
                    <td>$20 CPM</td>
                    <td><a href="#">Start with New Campaign</a></td>
                    <td><a href="#">Campaign</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="tableFooter">
            <p class="navInfo">
                Showing  results 1-10 of 44
            </p>

            <div class="navLinks">
                <div class="links">
                    <a href="">1</a>
                    <a href="">2</a>
                    <a href="" class="active">3</a>
                    <a href=""></a>
                </div>
                <p>Page</p>
            </div>
        </div>
    </section>

{% endblock %}