{% extends 'layouts/master.twig' %}
{% block content %}
    <div class="tableHeader">
        <p><a href="#">Addministration</a> / Foreign Exchange</p>
    </div>
    <table>
        <thead>
        <tr>
            <th><a href="#" class="orderArrows"><span>From Currency</span> <i></i></a></th>
            <th><a href="#" class="orderArrows"><span>To Currency</span> <i></i></a></th>
            <th><a href="#" class="orderArrows"><span>From Date</span> <i></i></a></th>
            <th><a href="#" class="orderArrows"><span>From Value</span> <i></i></a></th>
            <th><a href="#" class="orderArrows"><span>To Value</span><i></i></a></th>
            <th><a href="{{ root }}foreign/add" class="addBttn"><span>Add</span><i></i></a></th>
        </tr>
        </thead>
        <tbody>
        {% for i in 1..2 %}
            <tr>
                <td>GBP</td>
                <td>USD</td>
                <td>01/07/15</td>
                <td>1</td>
                <td>1.43567</td>
                <td>
                    <a href="" class="delete">Delete</a>
                    <a href="#" class="edit">Edit</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>GBP</td>
            <td>USD</td>
            <td>01/07/15</td>
            <td>1</td>
            <td>1.43567</td>
            <td class="edit">
                <a href="#" class="delete">Delete</a>
                <a href="#" class="unlock">Unlock</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="tableFooter">
        <p class="navInfo">
            Showing results 1-10 of 44
        </p>

        <div class="navLinks">
            <div class="links">
                <a href="">1</a>
                <a href="">2</a>
                <a href="" class="active">3</a>
                <a href=""></a>
            </div>
            <p>Page</p>
        </div>
    </div>
{% endblock %}