{% extends 'layouts/master.twig' %}
{% block content %}

    <section class="home">
        <div class="column">
            <a href="#">Foreign Exchange</a>
        </div>
        <div class="column">
            <a href="#">Advertisers</a>
            <a href="#">Sales Points</a>
            <a href="#">Sites</a>
        </div>
        <div class="column">
            <a href="#">Countries</a>
            <a href="#">Content Categories</a>
            <a href="#">Advertising Formats</a>
            <a href="#">Site Sections</a>
        </div>
        <div class="column">
            <a href="#">Straighline Users</a>
        </div>
    </section>

{% endblock %}