{% extends 'layouts/master.twig' %}
{% block content %}

    <section class="campaign">
        <div class="tableHeader">
            <a href="#">Campaign</a>
            <a href="#">Creatives</a>
            <a href="#" class="active">Insertion Orders</a>
            <a href="#">Review &amp; Send</a>
        </div>
        <div class="subMenu">
            <a href="" class="active">All</a>
            <a href="">France</a>
            <a href="">Italy</a>
            <a href="">Germany</a>
            <a href="" class="close">Close Manage Sites</a>
        </div>
        <h1>Site Management</h1>

        <div class="tabs">
            <a href="" >Favourites</a>
            <a href="" class="active">Site Search</a>
        </div>
        <form action="" class="insertionSearch">
            <input type="text" name="" id="" placeholder="Country..."/>
            <input type="text" name="" id="" placeholder="Targets..."/>
            <input type="text" name="" id="" placeholder="Sites..."/>
            <input type="text" name="" id="" placeholder="Content Categories..." class="categories"/>
            <input type="text" name="" id="" placeholder="Content Sub Categories..." class="categories"/>
            <input type="text" name="" id="" placeholder="Content Variants..." class="categories"/>
            <input type="text" name="" id="" placeholder="From cpm..."/>
            <input type="text" name="" id="" placeholder="To cpm..."/>
            <button class="search" type="submit">Search</button>
            <button class="reset" type="reset">Reset</button>
        </form>
        <table>
            <thead>
            <tr>
                <th>Status</th>
                <th>Description</th>
                <th>Placement</th>
                <th>Rates</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..4 %}
                <tr>
                    <td>Site A</td>
                    <td>Site A Description</td>
                    <td>HomePage 300x250 - Upper</td>
                    <td>$20 cpm</td>
                    <td><a href="#">Add to Insertion Order</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="tableFooter">
            <a href="#" class="backBttn">Back</a>
            <a href="#" class="continueBttn">Save & Exit</a>
            <a href="#" class="saveExitBttn">Save & Continue</a>
            <a href="#" class="exitBttn">Exit</a>
        </div>
    </section>

{% endblock %}