{% extends 'layouts/master.twig' %}
{% block content %}

    <section class="campaign">
        <div class="tableHeader">
            <a href="#">Campaign</a>
            <a href="#">Creatives</a>
            <a href="#" class="active">Insertion Orders</a>
            <a href="#">Review &amp; Send</a>
        </div>
        <div class="subMenu">
            <a href="" class="active">All</a>
            <a href="">France</a>
            <a href="">Italy</a>
            <a href="">Germany</a>
            <a href="" class="close">Manage Sites</a>
        </div>
        <h1>Insertion Orders</h1>
        <table>
            <thead>
            <tr>
                <th>Status</th>
                <th>Country</th>
                <th>Geo Targeting</th>
                <th>Section Targeting</th>
                <th>Placement</th>
                <th>Creative</th>
                <th>Flight Dates</th>
                <th>Avails.</th>
                <th>Impressions</th>
                <th>CMP &pound;</th>
                <th>Total &pound;</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..10 %}
                <tr>
                    <td>www.lefigaro.fr</td>
                    <td>France</td>
                    <td>Country One</td>
                    <td>Homepage</td>
                    <td>Full Banner/ 468x60/Top</td>
                    <td>Creative One</td>
                    <td>01/01/2015 - 03/03/2015</td>
                    <td>275,000</td>
                    <td>500,000</td>
                    <td>$20 cpm</td>
                    <td>&pound;2,000</td>
                    <td>Some notes...</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="campaignNotes">
            <h2>Campaign notes</h2>
            <p>Some additional campaign notes...</p>
        </div>
        <div class="tableFooter">
            <a href="#" class="backBttn">Back</a>
            <a href="#" class="continueBttn">Reserve Inventory</a>
            <a href="#" class="exitBttn">Exit</a>
        </div>
    </section>

{% endblock %}