{% extends 'layouts/master.twig' %}
{% block content %}
    <div class="login-wrapper">
        <div class="logoContent">
            <img src="{{ assets }}images/logo-icon.png" alt="Straight Line Logo"/>

            <form action="{{ root }}" method="get">
                <h1>Please Sign In</h1>
                <label for="email">
                    <input type="text" name="email" id="email" placeholder="E-mail"/>
                </label>
                <label for="pass">
                    <input type="password" name="pass" id="pass" placeholder="Password" class="error"/>
                </label>

                <p class="errorMessage">
                    <i class="fa fa-exclamation-triangle"></i>
                    Incorrect email or password
                </p>
                <label for="rememberMe" class="rememberMe">
                    <input type="checkbox" name="rememberMe" id="rememberMe"/> Remember me
                </label>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}