{% extends 'layouts/master.twig' %}
{% block content %}
    <div class="sidepanel">
        <div class="header">
            <h2>Folders
            </h2>
            <a href="#">ADD</a>
        </div>
        <div class="menu">
            <a href="">Message Folder</a>
            <a href="#" class="edit"><i class="fa fa-folder"></i></a>
            <a href="">Message Folder</a>
            <a href="#" class="edit"><i class="fa fa-folder"></i></a>
            <a href="">Message Folder</a>
            <a href="#" class="edit"><i class="fa fa-folder"></i></a>
            <a href="">Message Folder</a>
            <a href="#" class="edit"><i class="fa fa-folder"></i></a>
            <a href="">Message Folder</a>
            <a href="#" class="edit"><i class="fa fa-folder"></i></a>
        </div>
    </div>
    <section class="campaignSearch">
        <div class="tableHeader">
            <p>View</p>
            <a href="#">10</a>
            <a href="#" class="active">20</a>
            <a href="#">50</a>
            <a href="#">100</a>

            <form action="" class="searchForm">
                <input type="text" name="search" id="search" placeholder="Search"/>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <table>
            <thead>
            <tr>
                <th><a href="#">Campaign</a></th>
                <th><a href="#">From</a></th>
                <th><a href="#">Subject</a></th>
                <th><a href="#">Date/Time</a></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..10 %}
                <tr>
                    <td>Campaign name</td>
                    <td>Senders Name</td>
                    <td>Message copy goes here and and you see as much as possible until this point and then it is ...</td>
                    <td>04/06/2015 at 13:09</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="tableFooter">
            <p class="navInfo">
                Showing results 1-10 of 44
            </p>

            <div class="navLinks">
                <div class="links">
                    <a href="">1</a>
                    <a href="">2</a>
                    <a href="" class="active">3</a>
                    <a href=""></a>
                </div>
                <p>Page</p>
            </div>
        </div>
    </section>

{% endblock %}