{% extends 'layouts/master.twig' %}
{% block content %}
    <section class="home">
        <div class="column">
            <a href="{{ root }}login" class="login">Login</a>
            <a href="{{ root }}" class="login">Home</a>
            <a href="{{ root }}userProfile" class="login">User Profile</a>
            <a href="{{ root }}campaignDropDown">Campaigns Drop Down</a>
        </div>
        <div class="column">
            <a href="{{ root }}campaign">Campaign</a>
            <a href="{{ root }}campaign/create">Campaign Create</a>
            <a href="{{ root }}campaign/creatives/create">Creatives Add Creatives</a>
            <a href="{{ root }}campaign/search">Creatives Search</a>
        </div>
        <div class="column">
            <a href="{{ root }}insertionOrders">Insertion Orders</a>
            <a href="{{ root }}insertionOrdersReserve">Insertion Orders Reserve</a>
            <a href="{{ root }}insertionOrdersSearch">Insertion Orders Search</a>
        </div>
        <div class="column">
            <a href="{{ root }}favourites">Favourites</a>
            <a href="{{ root }}messages">Messages</a>
            <a href="{{ root }}foreign">Foreign Exchange</a>
            <a href="{{ root }}foreign/add">Foreign Exchange Add</a>
        </div>
    </section>

{% endblock %}